<div class="blog-post banner-hover">
  
  
  {% if article.image %}
  <div class="blog-main-img">
    <a href="{{ article.url }}" class="blog-img banner-img">
      <img width="{{ article.image.width }}" height="{{ article.image.height }}" class="img-fluid" src="{{ article.image | image_url: width: 500, height: 500 }}" alt="{{ article.title | escape }}" />
    </a>
  </div>
  <div class="blog-post-content">
    <div class="blog-tag-date">
      <span class="date-time">
        <span class="date">{{ article.published_at | date: '%d' }}</span>
        <span class="time">{{ article.published_at | date: '%b' }}</span>
        <span class="year">{{ article.published_at | date: '%Y' }}</span>
      </span>
    </div>
    <h2 class="blog-title">
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h2>
    <p class="blog-desc">{{ article.content | strip_html | strip | truncate: 80 | remove: "." }}</p>
    <div class="blog-author">
      <span class="author">{{ settings.author_by }} {{ article.author }}</span>
    </div>
    <a href="{{ article.url }}" class="read-btn btn btn-style" aria-label="Read more: {{ article.title }}">
      <span>{{ settings.blog_read_btn }}</span>
    </a>
  </div>
  {% endif %}
</div>