<!-- breadcrumb-area start -->
{% if settings.breadcrumb02_banner_enable %}
{% unless template == 'index' or template == 'product' or template == 'product.template2' or template == 'product.template3' or template == 'product.template4' or template == 'product.template5' or template == 'product.template6' or template == 'product.template7' or template == 'product.template8' or template == 'search' %}
<section class="breadcrumb02-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-index">
                    <!-- breadcrumb main-title start-->
                    <div class="breadcrumb-title">
                        {% if template contains 'product' or template contains 'product.template2' or template contains 'product.template3' or template contains 'product.template4' or template contains 'product.template5' or template contains 'product.template6' or template contains 'product.template7' or template contains 'product.template8' %}
                        <h2>{{ product.title }}</h2>
                        {% elsif template contains 'collection' and collection.handle %}
                        <h2>{{ collection.title }}</h2>
                        {% elsif template == 'blog' or template == 'blog.left' or template == 'blog.right' %}
                        <h2>{{ blog.title }}</h2>
                        {% elsif template == 'article' or template == 'article.left' or template == 'article.right' %}
                        <h2>{{ blog.title }}</h2>
                        {% else %}
                        <h2>{{ page_title }}</h2>
                        {% endif %}
                    </div>
                    <!-- breadcrumb main-title end-->

                    <!-- breadcrumb-list start -->
                    {% render 'breadcrumb-builtin' %}
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endunless %}
{% endif %}
<!-- breadcrumb-area end -->
<style>
.breadcrumb02-area {
    padding-top: {{ settings.breadcrumb02_padding_top }}px;
    padding-bottom: {{ settings.breadcrumb02_padding_bottom }}px;
    position: relative;
    background-color: {{ settings.breadcrumb02_bgcolor }};
    {% if settings.breadcrumb02_bottom_border_enable %}
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    {% endif %}
}
@media (max-width: 1199px){
    .breadcrumb02-area {
        padding-top: {{ settings.breadcrumb02_padding_top_ip }}px;
        padding-bottom: {{ settings.breadcrumb02_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px){
    .breadcrumb02-area {
        padding-top: {{ settings.breadcrumb02_padding_top_xs }}px;
        padding-bottom: {{ settings.breadcrumb02_padding_bottom_xs }}px;
    }
  }

/* breadcrumb title css */
.breadcrumb02-area .breadcrumb-index{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.breadcrumb02-area .breadcrumb-index .breadcrumb-title{
    display: none;
}
.breadcrumb02-area .breadcrumb-main-area ul.breadcrumb-list li a,
.breadcrumb02-area .breadcrumb-main-area ul.breadcrumb-list li span{
    font-size: 14px;
    font-weight: 500;
    color: {{ settings.breadcrumb02_title_color }};
}
.breadcrumb02-area .breadcrumb-main-area ul.breadcrumb-list li a:hover {
    color: var(--font-color-primary);
}
</style>
