{%- if settings.footer_logo -%}
{%- capture image_width -%}{{ settings.footer_logo_max_width }}{%- endcapture -%}
<a href="{{ shop.url }}" class="footer-logo">
  <img width="{{ settings.footer_logo.width }}" height="{{ settings.footer_logo.height }}" style="max-width: {{ image_width }}px;" src="{{ settings.footer_logo | image_url }}" class="img-fluid" alt="{{ settings.footer_logo.alt | default: shop.name }}">
</a>
{%- elsif settings.footer_logo_svg_code != blank %}
<a href="{{ shop.url }}" class="footer-logo">
  <span style="max-width: {{ settings.footer_logo_max_width }}px;">
    {{ settings.footer_logo_svg_code }}
  </span>
</a>
{%- elsif settings.footer_logo_svg != blank %}
{%- assign logo_svg_url = settings.footer_logo_svg | file_url -%}
<a href="{{ shop.url }}" class="footer-logo">
<img height="" width="{{ settings.footer_logo_max_width }}" src="{{ logo_svg_url }}" alt="{{ shop.name | escape }}">
</a>
{%- else -%}
<a href="/" class="shop-name">
  <span>{{ shop.name }}</span>
</a>
{%- endif -%}
<style>
  a.footer-logo svg{
    width: 100%;
  }
</style>
