<div class="blog-post banner-hover">
  {% if addin.image %}
  <div class="blog-main-img">
    <a href="{{ addin.url }}" class="blog-img banner-img">
      <img width="{{ addin.image.width }}" height="{{ addin.image.height }}" class="img-fluid" src="{{ addin.image | image_url: width: 500, height: 500 }}" alt="{{ addin.title | escape }}" />
    </a>
  </div>
  <div class="blog-post-content">
    <div class="blog-tag-date">
      <span class="date-time">
        <span class="date">{{ addin.published_at | date: '%d' }}</span>
        <span class="time">{{ addin.published_at | date: '%b' }}</span>
        <span class="year">{{ addin.published_at | date: '%Y' }}</span>
      </span>
    </div>
    <h2 class="blog-title">
      <a href="{{ addin.url }}">{{ addin.title }}</a>
    </h2>
    <p class="blog-desc">{{ addin.content | strip_html | strip | truncate: 80 | remove: "." }}</p>
    <div class="blog-author">
      <span class="author">{{ settings.author_by }} {{ addin.author }}</span>
    </div>
    <a href="{{ addin.url }}" class="read-btn btn btn-style" aria-label="Read more: {{ addin.title }}">
      <span>{{ settings.blog_read_btn }}</span>
    </a>
  </div>
  {% endif %}
</div>