<!-- Button trigger modal -->
<a class="search-popup" data-bs-toggle="modal" href="#seachmodal">
  <i class="ri-search-line"></i>
  <span class="search-title">{{ settings.header_search_title }}</span>
</a>
<style>
  a.search-popup{
    {%- if template == 'index' -%}
    color: {{ section.settings.header_text_color }};
    {%- else -%}
    color: {{ section.settings.other_header_text_color }};
    {%- endif -%}
    display: flex;
    align-items: center;
  }
  a.search-popup:hover{
    {%- if template == 'index' -%}
    color: {{ section.settings.other_header_text_color }};
    {%- else -%}
    color: var(--font-color-primary);
    {%- endif -%}
  }
  .is-sticky a.search-popup{
    color: {{ section.settings.other_header_text_color }};
  }
  .is-sticky a.search-popup:hover{
    color: var(--font-color-primary);
  }
  a.search-popup .search-title{
    text-transform: uppercase;
    {% if settings.enable_rtl %}
    padding-right: 10px;
    {% else %}
    padding-left: 10px;
    {% endif %}
    display: none;
  }
  a.search-popup i{
    line-height: 1;
  }
  @media(max-width: 1199px){
    a.search-popup{
      display: flex;
    }
    a.search-popup .search-title{
      display: none;
    }
  }

</style>