
{%- if product.compare_at_price > product.price -%}

{%- endif -%}


{%- if product.available -%}

{%- endif -%}



{%- if product.available -%}

{%- endif -%}  

{% if item.featured_image %}
<div class="search-item">
  <div class="single-product-wrap{% unless item.available %} stock-out{% endunless %}">
    <div class="product-image{% unless item.available %} stock-out{% endunless %}">
      <a class="pro-img" href="{{ item.url | within: collection }}">
        <img width="{{ item.featured_image.width }}" height="{{ item.featured_image.height }}" class="img-fluid{% if settings.pro_hvr_enable %} img1{% endif %}" src="{{ item.featured_image.src | img_url : '600X685', crop: 'center' }}" alt="{{ item.featured_image.src.alt | escape }}">
        {% if settings.pro_hvr_enable %}
        <img width="{{ item.images[1].width }}" height="{{ item.images[1].height }}" class="img-fluid{% if settings.pro_hvr_enable %} img2{% endif %}" src="{{ item.images[1] | img_url: '600X685', crop: 'center' }}" alt="{{ item.images.last.alt | escape }}">
        {% endif %}
      </a>
    </div>
    <div class="product-content">
      <div class="product-info">
        {% if settings.pro_rew_enable %}
        <div class="product-ratting">
          <span class="shopify-product-reviews-badge" data-id="{{ item.id }}"></span>
        </div>
        {% endif %}
        <h6>
          <a href="{{ item.url | within: collection }}">{{ item.title }}</a>
        </h6>
        <div class="price-box">
          <span class="new-price">{{ item.price | money }}</span>
          {% if item.compare_at_price_max > item.price %}
          <span class="old-price">{{ item.compare_at_price | money }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}


    {% comment %}
    {%- if item.description contains '[short_description]' -%} 
    {%- assign short_description_first = item.description | split:'[/short_description]' | first -%}
    {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
    {{ short_description_final }}
    {%- else -%}
    {{ item.description | strip_html | truncatewords: 50 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first }}
    {%- endif -%}
    {% endcomment %}
    
<div class="search-blog-item">
  <div class="search-blog-img">
    <a href="{{ item.url }}" class="banner-hover">
      <img width="{{ item.image.width }}" height="{{ item.image.height }}" class="img-fluid" src="{{ item.image | image_url }}" alt="{{ item.title | escape }}" />
    </a>
  </div>
  <div class="search-blog-content">
    <h6 class="search-blog-title">
      <a href="{{ item.url }}">{{ item.title }}</a>
    </h6>
    <p>{{ item.content | strip_html | strip | truncate: 65 }}</p>
  </div>
</div>
{% endif %}
