<div class="acc-link">
  <a class="acc-link-wrap" href="{{ routes.account_login_url }}">

    <span class="acc-title">{{ settings.acc_register_title }}</span>
    <span class="acc-icon"><i class="ri-user-3-line"></i></span>
    
  </a>
</div>
<div class="acc-link acc-link-lg">
  <div class="acc-link-wrap">
    <a class="acc-link-wrap" href="{{ routes.account_login_url }}">
      <span class="acc-icon"><i class="ri-user-line"></i></span>
    </a>
  </div>
</div>
<style>
  .acc-link .acc-link-wrap {
    {%- if template == 'index' -%}
    color: {{ section.settings.header_text_color }};
    {%- else -%}
    color: {{ section.settings.other_header_text_color }};
    {%- endif -%}
  }
  .acc-link .acc-link-wrap:hover {
    {%- if template == 'index' -%}
    color: {{ section.settings.other_header_text_color }};
    {%- else -%}
    color: var(--font-color-primary);
    {%- endif -%}
  }
  .is-sticky .acc-link .acc-link-wrap {
    color: {{ section.settings.other_header_text_color }};
  }
  .is-sticky .acc-link .acc-link-wrap:hover {
    color: var(--font-color-primary);
  }
  .acc-link .acc-link-wrap span.acc-icon i {
    display: block;
    line-height: 1;
  }
  .acc-link .acc-link-wrap .acc-title {
    display: none;
    {% if settings.enable_rtl %}
    margin-left: 10px;
    {% else %}
    margin-right: 10px;
    {% endif %}
  }
  .acc-link.acc-link-lg {
    display: none;
  }
  @media (max-width: 1199px) {
    .acc-link {
      display: none;  
    }
    .acc-link.acc-link-lg {
      display: block;  
    }
    .acc-link.acc-link-lg .acc-link-wrap a {
      display: block;
      line-height: 0;
    }
    .acc-link.acc-link-lg .acc-link-wrap a i {
      display: block;
      line-height: 1;
    }
  }
</style>