<section class="customer-page section-ptb my-account-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-title">
          <span class="sub-title">{{ settings.customer_welcome_text }}</span>
          <div class="section-cont-title">
            <h2>
              <span>{{ customer.name | capitalize }}</span>
            </h2>
          </div>
        </div>
        <div class="account-history">
          <ul>
            <li>
              <div class="acc-info-wrap">
                <h6>{{ 'customer.account.title' | t }}</h6>
                <span class="acc-info-link">
                  {%- if settings.wishlist_enable -%}
                  <a href="/pages/wishlist">{{ settings.customer_wishlist_text }}(<span class="wishlist-counter">{{ wishlist.count }}</span>)</a>
                  {%- endif -%}
                  <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }}<span class="address-counter">({{ customer.addresses_count }})</span></a>
                  <a href="/account/logout">{{ settings.customer_logout_text }}</a>
                </span>
              </div>
            </li>
            <li>
              <div class="acc-info-wrap">
                <h6>{{ 'customer.account.details' | t }}</h6>
                <span>{{ customer.name | capitalize }}</span>
                <span>{{ customer.email }}</span>
                {% comment %}
                <span>{{ customer.phone }}</span>
                {% endcomment %}

                {% if customer.default_address != "" %}
                <span>{{ customer.default_address.address1 }}</span>

                {% if customer.default_address.address2 != "" %}
                <span>{{ customer.default_address.address2 }}</span>
                {% endif %}

                {% if customer.default_address.city != "" %}
                <span>{{ customer.default_address.city }}</span>
                {% endif %}

                {% if customer.default_address.province_code != "" %}
                <span>{{ customer.default_address.province_code | upcase }}</span>
                {% endif %}

                {% if customer.default_address.zip != "" %}
                <span>{{ customer.default_address.zip }}</span>
                {% endif %}

                {% if customer.default_address.country != "" %}
                <span>{{ customer.default_address.country }}</span>
                {% endif %}

                {% if customer.default_address.phone != "" %}
                <span>{{ customer.default_address.phone }}</span>
                {% endif %}

                {% endif %}

              </div>
            </li>
          </ul>
        </div>
        <div class="order-history-wrap">
          <div class="page-title">
            <div class="section-cont-title">
              <h2>
                <span>{{ 'customer.orders.title' | t }}</span>
              </h2>
            </div>
          </div>
          {%- assign order_limit = settings.order_limit_handle -%}
          {%- paginate customer.orders by order_limit -%}
          {%- if customer.orders.size != 0 -%}
          <div class="order-wrap">
            <ul>
              {% for order in customer.orders %}
              <li {% if order.cancelled %}class="error"{% endif %}>
                {% if order.cancelled %}
                <div class="errors">
                  {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
                  <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
                </div>
                {% endif %}
                <label>
                  <span class="order-detail-title">{{ 'customer.orders.order_number' | t }}</span>
                  <span class="order-detail-status">{{ order.name | link_to: order.customer_url }}</span>
                </label>
                <div class="order-info-wrap">
                  <div class="order-detail order-info">
                    <div class="order-info-check order-date">
                      <span class="order-detail-title">{{ 'customer.orders.date' | t }}</span>
                      <span class="order-detail-status">{{ order.created_at | date: format: 'month_day_year' }}</span>
                    </div>
                    <div class="order-info-check order-total">
                      <span class="order-detail-title">{{ 'customer.orders.total' | t }}</span>
                      <span class="order-detail-status">{{ order.total_price | money }}</span>
                    </div>
                  </div>
                  <div class="order-detail order-status">
                    <div class="order-info-check order-payment">
                      <span class="order-detail-title">{{ 'customer.orders.payment_status' | t }}</span>
                      <span class="order-detail-status {% if order.financial_status == 'paid' %}text-success{% else %}text-danger{% endif %}">{{ order.financial_status_label }}</span>
                    </div>
                    <div class="order-info-check order-fulfill">
                      <span class="order-detail-title">{{ 'customer.orders.fulfillment_status' | t }}</span>
                      <span class="order-detail-status">{{ order.fulfillment_status_label }}</span>
                    </div>
                  </div>
                </div>
                {%- if order.note -%}
                <div class="order-info-note">
                  <span class="order-detail-title">{{ settings.customer_order_note_title }}</span>
                  <span class="order-detail-status text-danger">{{ order.note }}</span>
                </div>
                {%- endif -%}
              </li>
              {% endfor %}
            </ul>
          </div>

          {%- else -%}
          <div class="order-wrap">
            <div class="order-info-wrap">
              <p class="text-danger">{{ 'customer.orders.none' | t }}</p>
            </div>
          </div>
          {%- endif -%}

          {%- if paginate.pages > 1 -%}
          <div class="paginatoin-area">
            <ul class="paginate">
              <li class="page-numerous">
                {%- render 'pagination' -%}
              </li>
            </ul>
          </div>
          {%- endif -%}
          {%- endpaginate -%}
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  /* address css */
  .my-account-page .account-history{
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  }
  .my-account-page .account-history ul{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .my-account-page .account-history ul li{
    width: 50%;
  }
  .my-account-page .account-history ul li .acc-info-wrap h6{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1;
  }
  .my-account-page .account-history ul li .acc-info-wrap span.acc-info-link a{
    display: flex;
    margin-top: 6px;
    text-decoration: underline;
  }
  .my-account-page .account-history ul li .acc-info-wrap span.acc-info-link a:first-child{
    margin-top: 0;
  }
  .my-account-page .account-history ul li .acc-info-wrap span.acc-info-link a span{
    margin-top: 0;
  }
  .my-account-page .account-history ul li .acc-info-wrap span{
    display: block;
    margin-top: 4px;
  }
  .my-account-page .account-history ul li .acc-info-wrap span:first-of-type{
    margin-top: 22px;
  }
  @media (max-width: 767px) {
    .my-account-page .account-history{
      padding: 30px 15px;
    }
    .my-account-page .account-history ul li{
      width: 100%;
      margin-top: 26px;
      padding-top: 28px;
      border-top: 1px solid #e2e2e2;
    }
    .my-account-page .account-history ul li:first-child{
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }

  /* order content css */
  .my-account-page .order-history-wrap{
    padding-top: {{ settings.section_padding_top }}px;
  }
  @media (max-width: 1199px) {
    .my-account-page .order-history-wrap{
      padding-top: {{ settings.section_padding_top_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .my-account-page .order-history-wrap{
      padding-top: {{ settings.section_padding_top_xs }}px;
    }
  }

  /* order css */
  .my-account-page .order-history-wrap .order-wrap ul li{
    margin-top: 30px;

  }
  .my-account-page .order-history-wrap .order-wrap ul li:first-child{
    margin-top: 0px;
  }
  .my-account-page .order-history-wrap .order-wrap ul li label{
    display: block;
    padding: 30px;
    margin-bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0px 0px;
    line-height: 1;
  }
  .my-account-page .order-history-wrap .order-wrap ul li label span a{
    color: #FFFFFF;
    padding: 5px 15px;
    background-color: var(--font-color-header);
  }
  .my-account-page .order-history-wrap .order-wrap ul li label span a:hover{
    background-color: var(--font-color-primary);
  }
  .my-account-page .order-history-wrap .order-wrap .order-info-wrap{
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 5px 5px;
    line-height: 1;
  }
  .my-account-page .order-history-wrap .order-wrap ul li span.order-detail-title{
    color: var(--font-color-header);
    font-weight: 600;
    width: 200px;
  }
  .my-account-page .order-history-wrap .order-wrap ul li .order-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
  }
  .my-account-page .order-history-wrap .order-wrap ul li .order-detail:first-child{
    margin-top: 0;
  }
  .my-account-page .order-history-wrap .order-wrap ul li .order-detail .order-info-check{
    width: 50%;
  }
  .my-account-page .order-history-wrap .order-wrap ul li .order-detail .order-info-check.order-total span.order-detail-status{
    color: var(--font-color-primary);
    font-weight: 600;
  }
  @media (max-width: 991px) {
    .my-account-page .order-history-wrap .order-wrap ul li .order-detail{
      flex-direction: column;
      margin-top: 14px;
    }
    .my-account-page .order-history-wrap .order-wrap ul li .order-detail .order-info-check{
      width: 100%;
      margin-top: 14px;
    }
    .my-account-page .order-history-wrap .order-wrap ul li .order-detail .order-info-check:first-child{
      margin-top: 0;
    }
  }
  @media (max-width: 767px) {
    .my-account-page .order-history-wrap .order-wrap ul li label{
      padding: 30px 15px;
    }
    .my-account-page .order-history-wrap .order-wrap .order-info-wrap{
      padding: 30px 15px;
    }
  }
  @media (max-width: 479px) {
    .my-account-page .order-history-wrap .order-wrap ul li span.order-detail-title,
    .my-account-page .order-history-wrap .order-wrap ul li span.order-detail-status{
      display: block;
    }
    .my-account-page .order-history-wrap .order-wrap ul li span.order-detail-title{
      width: 100%;
    }
    .my-account-page .order-history-wrap .order-wrap ul li span.order-detail-status{
      margin-top: 11px;
    }
  }

  /* order note css */
  .order-info-note{
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .order-info-note .order-detail-status{
    text-transform: capitalize;
  }
  @media (max-width: 767px) {
    .order-info-note{
      padding: 30px 15px;
    }
  }

  /* order cancel css */
  .my-account-page .order-history-wrap .order-wrap .errors{
    padding: 25px 30px;
    margin-bottom: 0;
  }
  .my-account-page .order-history-wrap .order-wrap .errors p{
    font-size: 14px;
  }
  .my-account-page .order-history-wrap .order-wrap ul li.error label,
  .my-account-page .order-history-wrap .order-wrap ul li.error .order-info-wrap,
  .my-account-page .order-history-wrap .order-wrap ul li.error .order-info-note{
    background-color: #fff6f6;
  }
  @media (max-width: 767px) {
    .my-account-page .order-history-wrap .order-wrap .errors{
      padding: 25px 15px;
    }
  }
</style>
