<!DOCTYPE html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <!-- Basic and Helper page needs -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="var(--font-color-primary)">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    {% unless settings.body_custom_font_handle_enable %}
    {%- assign body_font = settings.body_font_handle -%}
    {%- assign body_font_bolder = body_font | font_modify: 'weight', 'bolder' -%}
    {%- assign body_font_bold = body_font | font_modify: 'weight', 'bold' -%}
    {%- assign body_font_italic = body_font | font_modify: 'style', 'italic' -%}
    {%- assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic' -%}
    <link rel="preload" as="font" href="{{ body_font | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ body_font_bold | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}

    {% unless settings.header_custom_font_handle_enable %}
    {%- assign header_font = settings.header_font_handle -%}
    <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}

    {% unless settings.section_header_custom_font_handle_enable %}
    {%- assign section_header_font = settings.section_header_font_handle -%}
    <link rel="preload" as="font" href="{{ section_header_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}

    {% unless settings.paragraph_custom_font_handle_enable %}
    {%- assign paragraph_font = settings.paragraph_font_handle -%}
    <link rel="preload" as="font" href="{{ paragraph_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}

    {% unless settings.other_custom_font_handle_enable %}
    {%- assign other_font = settings.other_font_handle -%}
    <link rel="preload" as="font" href="{{ other_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}

    <!-- CSS -->
    {%- if canonical_url != blank -%}
    <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />
    {%- endif -%}

    <!-- Title and description -->
    {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
    {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
    &ndash; {{ shop.name }}
    {% endunless %}
    {% endcapture %}
    <title>{{ seo_title }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- Helpers -->
    {% render 'social-meta-tags' %}
    {%- render 'header-css' -%}
    <style>*,::after,::before{box-sizing:border-box}body{color: var(--font-color-body);font-size: var(--font-size-body);background-color: var(--background-color-body);{% if settings.body_custom_font_handle_enable %}font-family: '{{ settings.body_custom_font_handle }}', sans-serif;font-weight: {{ settings.body_custom_font_weight }};{% if settings.body_custom_font_style == 'italic' %}font-style: italic;{% elsif settings.body_custom_font_style == 'normal' %}font-style: normal;{% elsif settings.body_custom_font_style == 'oblique' %}font-style: oblique;{% elsif settings.body_custom_font_style == 'unset' %}font-style: unset;{% endif %}{% else %}font-family: var(--font-stack-body);font-weight: var(--font-weight-body);font-style: var(--font-style-body);{% endif %}letter-spacing: var(--font-letter-spacing-body);}h1,h2,h3,h4,h5,h6{color: var(--font-color-header);{% if settings.header_custom_font_handle_enable %}font-family: '{{ settings.header_custom_font_handle }}', sans-serif;font-weight: {{ settings.header_custom_font_weight }};{% if settings.header_custom_font_style == 'italic' %}font-style: italic;{% elsif settings.header_custom_font_style == 'normal' %}font-style: normal;{% elsif settings.header_custom_font_style == 'oblique' %}font-style: oblique;{% elsif settings.header_custom_font_style == 'unset' %}font-style: unset;{% endif %}{% else %}font-family: var(--font-stack-header);font-weight: var(--font-weight-header);font-style: var(--font-style-header);{% endif %}}.section-title h2,.content-main-title h2,.my-account-page .page-title h2{color: var(--font-color-section-header);{% if settings.section_header_custom_font_handle_enable %}font-family: '{{ settings.section_header_custom_font_handle }}', sans-serif;font-weight: {{ settings.section_header_custom_font_weight }};{% if settings.section_header_custom_font_style == 'italic' %}font-style: italic;{% elsif settings.section_header_custom_font_style == 'normal' %}font-style: normal;{% elsif settings.section_header_custom_font_style == 'oblique' %}font-style: oblique;{% elsif settings.section_header_custom_font_style == 'unset' %}font-style: unset;{% endif %}{% else %}font-family: var(--font-stack-section-header);font-weight: var(--font-weight-section-header);font-style: var(--font-style-section-header);{% endif %}{% if settings.section_header_text_transform == 'capitalize' %}text-transform: capitalize;{% elsif settings.section_header_text_transform == 'lowercase' %}text-transform: lowercase;{% elsif settings.section_header_text_transform == 'uppercase' %}text-transform: uppercase;{% elsif settings.section_header_text_transform == 'none' %}text-transform: none;{% endif %}}p{color: var(--font-color-paragraph);{% if settings.paragraph_custom_font_handle_enable %}font-family: '{{ settings.paragraph_custom_font_handle }}', sans-serif;font-weight: {{ settings.paragraph_custom_font_weight }};{% if settings.paragraph_custom_font_style == 'italic' %}font-style: italic;{% elsif settings.paragraph_custom_font_style == 'normal' %}font-style: normal;{% elsif settings.paragraph_custom_font_style == 'oblique' %}font-style: oblique;{% elsif settings.paragraph_custom_font_style == 'unset' %}font-style: unset;{% endif %}{% else %}font-family: var(--font-stack-paragraph);{% endif %}line-height: var(--font-line-height-paragraph);}

      {% unless settings.header_custom_font_handle_enable %}
      {{ header_font | font_face: font_display: 'swap' }}
      {% endunless %}

      {% unless settings.section_header_custom_font_handle_enable %}
      {{ section_header_font | font_face: font_display: 'swap' }}
      {% endunless %}

      {% unless settings.paragraph_custom_font_handle_enable %}
      {{ paragraph_font | font_face: font_display: 'swap' }}
      {% endunless %}

      {% unless settings.other_custom_font_handle_enable %}
      {{ other_font | font_face: font_display: 'swap' }}
      {% endunless %}

      {% unless settings.body_custom_font_handle_enable %}
      {{ body_font | font_face: font_display: 'swap' }}
      {{ body_font_bolder | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {% endunless %}
    </style>

    <!-- Header hook for plugins -->
    {{ content_for_header }}
    <!-- JS -->
    {%- render 'header-js' -%}

    {% if template contains 'customers' or 'cart' %}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    {% endif %}
  </head>

  <body  id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }}">
    {%- if template == 'index' and settings.newsletter_popup_enable -%}
    {% render 'newsletter-popup' %}
    {%- endif -%}
    {% section 'announcement-bar' %}

    {%- if settings.header_style == "Style-1" -%}
    {% section 'header-1' %}
    {%- elsif settings.header_style == "Style-2" -%}
    {% section 'header-2' %}
    {%- elsif settings.header_style == "Style-3" -%}
    {% section 'header-3' %}
    {%- elsif settings.header_style == "Style-4" -%}
    {% section 'header-4' %}
    {%- elsif settings.header_style == "Style-5" -%}
    {% section 'header-5' %}
    {%- elsif settings.header_style == "Style-6" -%}
    {% section 'header-6' %}
    {%- elsif settings.header_style == "Style-7" -%}
    {% section 'header-7' %}
    {%- elsif settings.header_style == "Style-8" -%}
    {% section 'header-8' %}
    {% endif %}

    {%- if template != 'index' -%}
    {% render 'breadcrumb-banner' %}
    {% render 'breadcrumb02-banner' %}
    {%- endif -%}

    <main role="main">
      {{ content_for_layout }}
    </main>
    {% render 'fullscreen-bg' %}
    {% section 'offer-text' %}
    {%- if settings.footer_style == "Style-1" -%}
    {% section 'footer-1' %}
    {%- elsif settings.footer_style == "Style-2" -%}
    {% section 'footer-2' %}
    {%- elsif settings.footer_style == "Style-3" -%}
    {% section 'footer-3' %}
    {%- elsif settings.footer_style == "Style-4" -%}
    {% section 'footer-4' %}
    {%- elsif settings.footer_style == "Style-5" -%}
    {% section 'footer-5' %}
    {%- elsif settings.footer_style == "Style-6" -%}
    {% section 'footer-6' %}
    {%- elsif settings.footer_style == "Style-7" -%}
    {% section 'footer-7' %}
    {%- elsif settings.footer_style == "Style-8" -%}
    {% section 'footer-8' %}
    {%- endif -%}

    {% section 'copy-right' %}
    {% render 'back-to-top' %}
    <!-- Necessary JS -->
    {% render 'footer-js' %}
    {% render 'search-autocomplete' %}
  </body>
</html>
