<section class="page-not-found section-ptb">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="search-error-wrapper">
          <div class="text-area-main">
            {% if section.settings.desc_text_404 != '' %}
            <span class="subtitle">{{ section.settings.desc_text_404 }}</span>
            {% endif %}
            {% if section.settings.opps_404_text != '' %}
            <h1 class="title">{{ section.settings.opps_404_text }}</h1>
            {% endif %}
            {% if section.settings.text_404_subtitle != '' %}
            <p>{{ section.settings.text_404_subtitle }}</p>
            {% endif %}
          </div>
          <a href="{{ section.settings.button_url }}" class="btn btn-style">{{ section.settings.button_title }}</a> 
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "404 Page",
  "settings": [
    {
      "type": "header",
      "content": "Main Text Heading"
    },
    {
      "type": "textarea",
      "id": "desc_text_404",
      "label": "Subtitle",
      "default": "Oops!"
    },
    {
      "type": "text",
      "id": "opps_404_text",
      "label": "Text",
      "default": "404"
    },
    {
      "type": "text",
      "id": "text_404_subtitle",
      "label": "Title Bottom Text",
      "default": "This page could not be found!"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button Title",
      "default": "Go to home"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL",
      "default": "/"
    }
  ],
  "presets": [
    {
      "name": "404 Page",
      "category": "404 Page"
    }
  ]
}
{% endschema %}
<style>
.page-not-found .search-error-wrapper {
  text-align: center;
}
.page-not-found .search-error-wrapper .text-area-main span.subtitle {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1;
}
.page-not-found .search-error-wrapper .text-area-main h1.title {
  font-size: 250px;
  line-height: 1;
  font-weight: 600;
}
.page-not-found .search-error-wrapper .text-area-main p {
  font-size: 24px;
  margin-top: 26px;
  line-height: 1;
  font-weight: 400;
}
.page-not-found .search-error-wrapper a {
  margin-top: 67px;
}

@media (max-width: 1199px) {
  .page-not-found .search-error-wrapper .text-area-main span.subtitle {
    font-size: 25px;
  }
  .page-not-found .search-error-wrapper .text-area-main h1.title {
    font-size: 190px;
  }
  .page-not-found .search-error-wrapper .text-area-main p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .page-not-found .search-error-wrapper .text-area-main span.subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .page-not-found .search-error-wrapper .text-area-main h1.title {
    font-size: 80px;
  }
  .page-not-found .search-error-wrapper .text-area-main p {
    font-size: 16px;
    margin-top: 17px;
  }
  .page-not-found .search-error-wrapper a {
    margin-top: 38px;
  }
}
</style>