<section class="about-team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="our-team">
                    <ul class="team-wrap">
                        {% for block in section.blocks %}
                        <li class="team-content banner-hover">
                            <div class="about-team-item">
                                <div class="about-image">
                                    <span class="image">
                                        <img width="{{ block.settings.member_img.width }}" height="{{ block.settings.member_img.height }}" class="img-fluid" src="{% if block.settings.member_img %}{{ block.settings.member_img | image_url }}{% else %}https://dummyimage.com/455x520/f7f7f7/999999{% endif %}" alt="">
                                    </span>
                                    <div class="team-social">
                                        {% render 'social-midea' %}
                                    </div>
                                </div>
                                <div class="about-bio">
                                    {% if block.settings.member_name != '' %}
                                    <h4 class="title">{{ block.settings.member_name }}</h4>
                                    {% endif %}
                                    {% if block.settings.member_position != '' %}
                                    <span>{{ block.settings.member_position }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "About us Section 6",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "abt_team_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "abt_team_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "abt_team_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "abt_team_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "abt_team_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "abt_team_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "abt_team_bgcolor",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "abt_team_bgcolor_enable",
      "label": "Show Background Color",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "our_team_title",
      "label": "Title",
      "default": "Our team"
    },
    {
      "type": "textarea",
      "id": "our_team_desc",
      "label": "Description",
      "default": "Lorem Ipsum is printing & typesetting industry's standard dummy text since texts"
    }
  ],
  "blocks": [
    {
      "type": "our-team",
      "name": "Our Team",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "member_img",
          "label": "Image",
          "info": "Recommended Size: 455px x 520px"
        },
        {
          "type": "text",
          "id": "member_name",
          "label": "Team Member Name",
          "default": "Nina theresa"
        },
        {
          "type": "text",
          "id": "member_position",
          "label": "Team Member Position",
          "default": "Managing director"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About us Section 6",
      "category": "About us Section 6"
    }
  ]
}
{% endschema %}
<style>
    .about-team{
        padding-top: {{ section.settings.abt_team_padding_top }}px;
        padding-bottom: {{ section.settings.abt_team_padding_bottom }}px;
        {% if section.settings.abt_team_bgcolor_enable %}
        background-color: {{ section.settings.abt_team_bgcolor }};
        {% endif %}
    }
    @media (max-width: 1199px) {
        .about-team{
            padding-top: {{ section.settings.abt_team_padding_top_ip }}px;
            padding-bottom: {{ section.settings.abt_team_padding_bottom_ip }}px;
        }
    }
    @media (max-width: 767px) {
        .about-team{
            padding-top: {{ section.settings.abt_team_padding_top_xs }}px;
            padding-bottom: {{ section.settings.abt_team_padding_bottom_xs }}px;
        }
    }
    .about-team .our-team ul.team-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        {% if settings.enable_rtl %}
        margin-right: -30px;
        {% else %}
        margin-left: -30px;
        {% endif %}
    }
    .about-team .our-team ul.team-wrap li.team-content {
        position: relative;
        width: calc(25% - 30px);
        margin-top: 30px;
        {% if settings.enable_rtl %}
        margin-right: 30px;
        {% else %}
        margin-left: 30px;
        {% endif %}
    }
    .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-image {
        position: relative;
        overflow: hidden;
    }
    .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-image .team-social {
        background-image: var(--gradient-color);
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(15px);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .about-team .our-team ul.team-wrap li.team-content:hover .about-team-item .about-image .team-social {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-image .team-social .social ul.social-icon li a {
        color: #ffffff;
    }
    .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-image .team-social .social ul.social-icon li a:hover {
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        background-image: unset;
    }
    .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-bio {
        margin-top: 28px;
        text-align: center;
    }
    .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-bio h4 {
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
    }
    .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-bio span {
        color: #767676;
        font-size: 18px;
        margin-top: 15px;
        line-height: 1;
    }
    @media (max-width: 1199px) {
        .about-team .our-team ul.team-wrap li.team-content {
            width: calc(50% - 30px);
        }
    }
    @media (max-width: 767px) {
        .about-team .our-team ul.team-wrap {
            {% if settings.enable_rtl %}
            margin-right: -12px;
            {% else %}
            margin-left: -12px;
            {% endif %}
        }
        .about-team .our-team ul.team-wrap li.team-content {
            width: calc(50% - 12px);
            {% if settings.enable_rtl %}
            margin-right: 12px;
            {% else %}
            margin-left: 12px;
            {% endif %}
        }
        .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-image .team-social {
            height: 40px;
        }
        .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-bio {
            margin-top: 18px;
        }
        .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-bio h4 {
            font-size: 16px;
        }
        .about-team .our-team ul.team-wrap li.team-content .about-team-item .about-bio span {
            font-size: 16px;
            margin-top: 12px;
        }
    }
    @media (max-width: 479px) {
        .about-team .our-team ul.team-wrap li.team-content {
            width: calc(100% - 12px);
        }
    }
</style>
