<section class="about-serice">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="service-main">
					<ul class="service-ul">
						{% for block in section.blocks %}
						<li class="service-li">
							<div class="service-block">
								<div class="service-icon">
									<a href="{{ block.settings.service_icon_url }}">
										{% if block.settings.service_svg_icon != '' %}
										<span class="icon-svg">{{ block.settings.service_svg_icon }}</span>
										{% else %}
										<i class="{{ block.settings.service_icon }}"></i>
										{% endif %}
									</a>
								</div>
								<div class="service-text">
									{% if block.settings.service_title != '' %}
									<h4>{{ block.settings.service_title }}</h4>
									{% endif %}
									{% if block.settings.service_desc != '' %}
									<p>{{ block.settings.service_desc }}</p>
									{% endif %}
								</div>
							</div>	
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "About us Section 2",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "about_product_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "about_product_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "about_product_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "about_product_bgcolor",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "about_product_bgcolor_enable",
      "label": "Show Background Color",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "about_service",
      "limit": 3,
      "name": "About Us Service",
      "settings": [
        {
          "type": "header",
          "content": "Service Icon"
        },
        {
          "type": "textarea",
          "id": "service_svg_icon",
          "label": "SVG Icon"
        },
        {
          "type": "text",
          "id": "service_icon",
          "label": "Icon Class",
          "default": "ri-phone-line"
        },
        {
          "type": "header",
          "content": "Service Text"
        },
        {
          "type": "text",
          "id": "service_title",
          "label": "Title",
          "default": "5,000+ Happy customer"
        },
        {
          "type": "textarea",
          "id": "service_desc",
          "label": "Description",
          "default": "Lorem ipsum is simply dummy text of the simply dummy typesetting industry ipsum."
        },
        {
          "type": "url",
          "id": "service_icon_url",
          "label": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About us Section 2",
      "category": "About us Section 2"
    }
  ]
}
{% endschema %}
<style>
    .about-serice {
        padding-top: {{ section.settings.about_product_padding_top }}px;
        padding-bottom: {{ section.settings.about_product_padding_bottom }}px;
        {% if section.settings.about_product_bgcolor_enable %}
        background-color: {{ section.settings.about_product_bgcolor }};
        {% endif %}
    }
    @media (max-width: 1199px) {
        .about-serice {
            padding-top: {{ section.settings.about_product_padding_top_ip }}px;
            padding-bottom: {{ section.settings.about_product_padding_bottom_ip }}px;
        }
    }
    @media (max-width: 767px) {
        .about-serice {
            padding-top: {{ section.settings.about_product_padding_top_xs }}px;
            padding-bottom: {{ section.settings.about_product_padding_bottom_xs }}px;
        }
    }

    .about-serice .service-main ul.service-ul {
    	display: flex;
    	flex-wrap: wrap;
    	align-items: center;
    	justify-content: center;
    	margin-top: -30px;
        {% if settings.enable_rtl %}
        margin-right: -50px;
        {% else %}
        margin-left: -50px;
        {% endif %}
    }
    .about-serice .service-main ul.service-ul li.service-li {
    	width: calc(33.33% - 50px);
    	margin-top: 30px;
        {% if settings.enable_rtl %}
        margin-right: 50px;
        {% else %}
        margin-left: 50px;
        {% endif %}
    }
    .about-serice .service-main ul.service-ul li.service-li .service-block {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	text-align: center;
    } 
    .about-serice .service-main ul.service-ul li.service-li .service-block .service-icon a {
        background-image: var(--gradient-color);
    	color: #ffffff;
    	width: 90px;
    	height: 90px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	border-radius: 100%;
    }
    .about-serice .service-main ul.service-ul li.service-li:hover .service-block .service-icon a {
        background-image: var(--hover-gradient-color);
    }
    .about-serice .service-main ul.service-ul li.service-li .service-block .service-icon a span.icon-svg svg {
    	width: 40px;
    	height: 40px;
    }
    .about-serice .service-main ul.service-ul li.service-li .service-block .service-text {
    	margin-top: 48px;
    }
    .about-serice .service-main ul.service-ul li.service-li .service-block .service-text h4 {
    	font-size: 18px;
    	font-weight: 600;
    	line-height: 1;
    }	
    .about-serice .service-main ul.service-ul li.service-li .service-block .service-text p {
    	font-size: 18px;
    	margin-top: 21px;
    }
    @media (max-width: 1199px) {
    	.about-serice .service-main ul.service-ul {
            {% if settings.enable_rtl %}
            margin-right: -30px;
            {% else %}
            margin-left: -30px;
            {% endif %}
	    }
	    .about-serice .service-main ul.service-ul li.service-li {
	    	width: calc(33.33% - 30px);
            {% if settings.enable_rtl %}
            margin-right: 30px;
            {% else %}
            margin-left: 30px;
            {% endif %}
	    }
	    .about-serice .service-main ul.service-ul li.service-li .service-block .service-text {
	    	margin-top: 28px;
	    }
		.about-serice .service-main ul.service-ul li.service-li .service-block .service-text h4 {
	    	font-size: 16px;
	    }	
	    .about-serice .service-main ul.service-ul li.service-li .service-block .service-text p {
	    	font-size: 16px;
	    	margin-top: 11px;
	    }    
    }
    @media (max-width: 991px) {
    	.about-serice .service-main ul.service-ul li.service-li {
    		width: calc(50% - 30px);
    	}
    }
    @media (max-width: 991px) {
    	.about-serice .service-main ul.service-ul {
            {% if settings.enable_rtl %}
            margin-right: -12px;
            {% else %}
            margin-left: -12px;
            {% endif %}
    	}
    	.about-serice .service-main ul.service-ul li.service-li {
    		width: calc(50% - 12px);
            {% if settings.enable_rtl %}
            margin-right: 12px;
            {% else %}
            margin-left: 12px;
            {% endif %}
    	}
    }
    @media (max-width: 479px) {
    	.about-serice .service-main ul.service-ul {
            {% if settings.enable_rtl %}
            margin-right: 0px;
            {% else %}
            margin-left: 0px;
            {% endif %}
    	}
    	.about-serice .service-main ul.service-ul li.service-li {
    		width: calc(100% - 0px);
            {% if settings.enable_rtl %}
            margin-right: 0px;
            {% else %}
            margin-left: 0px;
            {% endif %}
    	}
    }
</style>