<section class="about-modern-section5">
  <div class="container">
    <div class="row">
       <div class="col">
        {% if section.settings.other_page_title != '' %}
        <div class="other-page-title">
          <div class="title-area">
            <h4>{{ section.settings.other_page_title }}</h4>
          </div>
          {% if section.settings.other_page_subtitle != '' %}
          <span class="subtitle">{{ section.settings.other_page_subtitle }}</span>
          {% endif %}
        </div>
        {% endif %}
        <div class="modern-team">
          <ul class="modern-team-ul">
            {% for block in section.blocks %}
            <li class="modern-team-li">
              <div class="team-block">
                <div class="team-image">
                  <span>
                    <img width="{{ block.settings.about_team_image.width }}" height="{{ block.settings.about_team_image.height }}" class="img-fluid" src="{% if block.settings.about_team_image %}{{ block.settings.about_team_image | image_url }}{% else %}https://dummyimage.com/360x410/f7f7f7/999999{% endif %}" alt="">
                  </span>
                </div>
                <div class="team-content">
                  {% if block.settings.team_title != '' %}
                  <h4 class="title">{{ block.settings.team_title }}</h4>
                  {% endif %}
                  {% if block.settings.team_subtitle != '' %}
                  <span>{{ block.settings.team_subtitle }}</span>
                  {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "About Modern Section 5",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_lg",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_lg",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Title"
    },
    {
      "type": "textarea",
      "id": "other_page_title",
      "label": "Title",
      "default": "Most of the important things in the world have been accomplished by people who have kept on trying when there seemed to be no hope at all."
    },
    {
      "type": "text",
      "id": "other_page_subtitle",
      "label": "Sub Title",
      "default": "Hasa lindgren"
    }
  ],
  "blocks": [
    {
      "type": "about_modern_team",
      "name": "About Modern Team",
      "settings": [
        {
          "type": "header",
          "content": "Team Image"
        },
        {
          "type": "image_picker",
          "id": "about_team_image",
          "label": "Image",
          "info": "Recommended Size: 360px x 410px"
        },
        {
          "type": "header",
          "content": "Team Content"
        },
        {
          "type": "text",
          "id": "team_title",
          "label": "Title",
          "default": "Lamar johnson"
        },
        {
          "type": "text",
          "id": "team_subtitle",
          "label": "Subtitle",
          "default": "CEO"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Modern Section 5",
      "category": "About Modern"
    }
  ]
}
{% endschema %}
<style>
.about-modern-section5 {
  padding-top: {{ section.settings.section_padding_top }}px;
  padding-bottom: {{ section.settings.section_padding_bottom }}px;
  background-color: {{ section.settings.section_bg_color }};
}
@media (max-width: 1199px) {
  .about-modern-section5 {
    padding-top: {{ section.settings.section_padding_top_ipad }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_ipad }}px;
  }
}
@media (max-width: 767px) {
  .about-modern-section5 {
    padding-top: {{ section.settings.section_padding_top_xs }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
  }
}

/* title css */
.about-modern-section5 .other-page-title {
  text-align: center;
}
.about-modern-section5 .other-page-title .title-area {
  width: 45%;
  margin: 0 auto;
}
.about-modern-section5 .other-page-title .title-area h4 {
  font-size: 24px;
  line-height: 40px;
}
.about-modern-section5 .other-page-title span.subtitle {
  font-size: 24px;
  margin-top: 31px;
}
@media (max-width: 1199px) {
  .about-modern-section5 .other-page-title .title-area {
    width: 65%;
  }
  .about-modern-section5 .other-page-title span.subtitle {
    margin-top: 12px;
  }
}
@media (max-width: 991px) {
  .about-modern-section5 .other-page-title .title-area {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .about-modern-section5 .other-page-title .title-area {
    width: 85%;
  }
}
@media (max-width: 600px) {
  .about-modern-section5 .other-page-title .title-area {
    width: 100%;
  }
  .about-modern-section5 .other-page-title .title-area h4 {
    font-size: 18px;
    line-height: 28px;
  } 
  .about-modern-section5 .other-page-title span.subtitle {
    font-size: 16px;
    margin-top: 7px;
  }
}

/* team css */
.about-modern-section5 .modern-team ul.modern-team-ul {
  display: flex;
  flex-wrap: wrap;
  {% if settings.enable_rtl %}
  margin-right: -30px;
  {% else %}
  margin-left: -30px;
  {% endif %}
  margin-top: -30px;
}
.about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li {
  width: calc(25% - 30px);
  margin-top: 30px;
  {% if settings.enable_rtl %}
  margin-right: 30px;
  {% else %}
  margin-left: 30px;
  {% endif %}
  text-align: center;
}
.about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li .team-block .team-content {
  margin-top: 28px;
}
.about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li .team-block .team-content h4.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li .team-block .team-content span {
  font-size: 18px;
  margin-top: 15px;
  line-height: 1;
}
@media (max-width: 911px) {
  .about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li {
    width: calc(50% - 30px);
  }
}
@media (max-width: 767px) {
  .about-modern-section5 .modern-team ul.modern-team-ul {
    {% if settings.enable_rtl %}
    margin-right: -15px;
    {% else %}
    margin-left: -15px;
    {% endif %}
  }
  .about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li {
    width: calc(50% - 15px);
    {% if settings.enable_rtl %}
    margin-right: 15px;
    {% else %}
    margin-left: 15px;
    {% endif %}
  }
  .about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li .team-block .team-content {
    margin-top: 18px;
  }
  .about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li .team-block .team-content h4.title {
    font-size: 16px;
  }
  .about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li .team-block .team-content span { 
    font-size: 16px;
    margin-top: 11px;
  }
}
@media (max-width: 479px) {
  .about-modern-section5 .modern-team ul.modern-team-ul {
    {% if settings.enable_rtl %}
    margin-right: 0px;
    {% else %}
    margin-left: 0px;
    {% endif %}
  }
  .about-modern-section5 .modern-team ul.modern-team-ul li.modern-team-li {
    width: calc(100% - 0px);
    {% if settings.enable_rtl %}
    margin-right: 0px;
    {% else %}
    margin-left: 0px;
    {% endif %}
  }
}
</style>