<section class="about-area-1">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if section.settings.other_page_title != '' %}
                <div class="other-page-title">
                    <div class="title-area">
                        <h4>{{ section.settings.other_page_title }}</h4>
                    </div>
                    {% if section.settings.other_page_subtitle != '' %}
                    <span class="subtitle">{{ section.settings.other_page_subtitle }}</span>
                    {% endif %}
                    {% if section.settings.other_page_newtitle != '' %}
                    <p class="new-title">{{ section.settings.other_page_newtitle }}</p>
                    {% endif %}
                </div>
                {% endif %}
                <div class="about-content">
                    <div class="about-banner-area">
                        <div class="single-banner">
                            <img width="{{ section.settings.about_banner_img.width }}" height="{{ section.settings.about_banner_img.height }}" src="{% if section.settings.about_banner_img %}{{ section.settings.about_banner_img | image_url }}{% else %}https://dummyimage.com/1350x700{% endif %}" class="img-fluid" alt="{{ section.settings.about_banner_img.image.alt }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "About us Section 1",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "about_product_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "about_product_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "about_product_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "about_product_bgcolor",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "about_product_bgcolor_enable",
      "label": "Show Background Color",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Title"
    },
    {
      "type": "textarea",
      "id": "other_page_title",
      "label": "Title",
      "default": "We started this company 14 year ago out of a desire t design and build amazing things."
    },
    {
      "type": "text",
      "id": "other_page_subtitle",
      "label": "Sub Title",
      "default": "Hasa lindgren"
    },
    {
      "type": "text",
      "id": "other_page_newtitle",
      "label": "New Title",
      "default": "Co founder"
    },
    {
      "type": "header",
      "content": "About Image"
    },
    {
      "type": "image_picker",
      "id": "about_banner_img",
      "label": "Image",
      "info": "Recommended Size: 1350 x 700px"
    }
  ],
  "presets": [
    {
      "name": "About us Section 1",
      "category": "About us Section 1"
    }
  ]
}
{% endschema %}
<style>
    .about-area-1{
        padding-top: {{ section.settings.about_product_padding_top }}px;
        padding-bottom: {{ section.settings.about_product_padding_bottom }}px;
        {% if section.settings.about_product_bgcolor_enable %}
        background-color: {{ section.settings.about_product_bgcolor }};
        {% endif %}
    }
    @media (max-width: 1199px) {
        .about-area-1{
            padding-top: {{ section.settings.about_product_padding_top_ip }}px;
            padding-bottom: {{ section.settings.about_product_padding_bottom_ip }}px;
        }
    }
    @media (max-width: 767px) {
        .about-area-1{
            padding-top: {{ section.settings.about_product_padding_top_xs }}px;
            padding-bottom: {{ section.settings.about_product_padding_bottom_xs }}px;
        }
    }

    .about-area-1 .other-page-title {
        text-align: center;
    }       
    .about-area-1 .other-page-title .title-area {
        width: 40%;
        margin: 0 auto;
        padding-bottom: 37px;
    }
    .about-area-1 .other-page-title .title-area h4 {
        font-size: 36px;
    }
    .about-area-1 .other-page-title .title-area h4 span {
        font-weight: 700;
    }
    .about-area-1 .other-page-title span.subtitle {
        font-size: 24px;
        line-height: 1;
    }
    .about-area-1 .other-page-title p.new-title {
        font-size: 18px;
        margin-top: 14px;
        font-weight: 500;
        line-height: 1;
    }
    @media (max-width: 1280px) {
        .about-area-1 .other-page-title .title-area {
            width: 50%;
        }
    }
    @media (max-width: 1199px) {
        .about-area-1 .other-page-title .title-area {
            padding-bottom: 30px;
        }
        .about-area-1 .other-page-title .title-area h4 {
            font-size: 28px;
        }
        .about-area-1 .other-page-title span.subtitle {
            font-size: 20px;
        }
        .about-area-1 .other-page-title p.new-title {
            margin-top: 9px;
            font-size: 16px;
        }
    }
    @media (max-width: 991px) {
        .about-area-1 .other-page-title .title-area {
            width: 65%;
        }
    }
    @media (max-width: 600px) {
        .about-area-1 .other-page-title .title-area {
            padding-bottom: 20px;
        }
        .about-area-1 .other-page-title .title-area h4 {
            font-size: 22px;
        }
        .about-area-1 .other-page-title span.subtitle {
            font-size: 16px;
        }
        .about-area-1 .other-page-title p.new-title {
            font-size: 14px;
        }
    }
    @media (max-width: 479px) {
        .about-area-1 .other-page-title .title-area {
            width: 100%;
        }
        .about-area-1 .other-page-title .title-area h4 {
            font-size: 20px;
        }
    }
</style>