<section class="about-area-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="content-main-title">
                    <div class="section-cont-title">
                        {% if section.settings.about_product_title != '' %}
                        <h2>
                            <span>{{ section.settings.about_product_title }}</span>
                        </h2>
                        {% endif %}
                    </div>
                    
                    {% if section.settings.about_des != '' %}
                    <p>{{ section.settings.about_des }}</p>
                    {% endif %}
                </div>
                <div class="about-content">
                    {% for block in section.blocks %}
                    <div class="about-banner-area">
                        <div class="single-banner banner-hover">
                            <a href="{% if block.settings.abt_banner_video_button_enable %}{{ block.settings.abt_banner_video_button_url }}{% else %}javascript:void(0){% endif %}" class="banner-img{% if block.settings.abt_banner_video_button_enable %} play-button popup-youtube{% endif %}">
                                <img width="{{ block.settings.about_banner_img.width }}" height="{{ block.settings.about_banner_img.height }}" src="{% if block.settings.about_banner_img %}{{ block.settings.about_banner_img | image_url }}{% else %}https://dummyimage.com/675x550{% endif %}" class="img-fluid" alt="">
                                {% if block.settings.abt_banner_video_button_enable %}
                                <span>
                                    <i class="{{ block.settings.abt_banner_video_icon }}"></i>
                                </span>
                                {% endif %}
                            </a>                            
                        </div>
                        <div class="abt-banner-desc">
                            {% if block.settings.title != '' %}
                            <h6>{{ block.settings.title }}</h6>
                            {% endif %}

                            {% if block.settings.text != '' %}
                            <p>{{ block.settings.text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "About Template2",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "about2_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "about2_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "about2_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "about2_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "about2_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "about2_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "about2_bgcolor",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "about2_bgcolor_enable",
      "label": "Show Background Color",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "about_product_title",
      "label": "Title",
      "default": "About us"
    },
    {
      "type": "textarea",
      "id": "about_des",
      "label": "Description",
      "default": "Lorem Ipsum is printing & typesetting industry's standard dummy text since texts"
    }
  ],
  "blocks": [
    {
      "type": "about-description",
      "name": "About Description",
      "settings": [
        {
          "type": "header",
          "content": "Banner Image"
        },
        {
          "type": "image_picker",
          "id": "about_banner_img",
          "label": "Banner Image",
          "info": "Recommended Size: 675px x 550px"
        },
        {
          "type": "header",
          "content": "Video Button"
        },
        {
          "type": "checkbox",
          "id": "abt_banner_video_button_enable",
          "label": "Show Video Button",
          "default": false
        },
        {
          "type": "text",
          "id": "abt_banner_video_icon",
          "label": "Icon Class",
          "default": "ri-play-line"
        },
        {
          "type": "url",
          "id": "abt_banner_video_button_url",
          "label": "Video Button URL"
        },
        {
          "type": "header",
          "content": "Section Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Our company"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Template2",
      "category": "2. About Us"
    }
  ]
}
{% endschema %}
<style>
    .about-area-2{
        padding-top: {{ section.settings.about2_padding_top }}px;
        padding-bottom: {{ section.settings.about2_padding_bottom }}px;
        {% if section.settings.about2_bgcolor_enable %}
        background-color: {{ section.settings.about2_bgcolor }};
        {% endif %}
    }
    @media (max-width: 1199px) {
        .about-area-2{
            padding-top: {{ section.settings.about2_padding_top_ip }}px;
            padding-bottom: {{ section.settings.about2_padding_bottom_ip }}px;
        }
    }
    @media (max-width: 767px) {
        .about-area-2{
            padding-top: {{ section.settings.about2_padding_top_xs }}px;
            padding-bottom: {{ section.settings.about2_padding_bottom_xs }}px;
        }
    }

    /* about css */
    .about-area-2 .about-content .about-banner-area{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .about-area-2 .about-content .about-banner-area:nth-child(even){
        flex-direction: row-reverse;
    }
    .about-area-2 .about-content .about-banner-area .single-banner{
        width: 50%;
    }
    .about-area-2 .about-content .about-banner-area .abt-banner-desc{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-area-2 .about-content .about-banner-area:nth-of-type(odd) .abt-banner-desc{
        {%- if settings.enable_rtl -%}
        padding-right: 60px;
        {%- else -%}
        padding-left: 60px;
        {%- endif -%}
    }
    .about-area-2 .about-content .about-banner-area:nth-of-type(even) .abt-banner-desc{
        {%- if settings.enable_rtl -%}
        padding-left: 60px;
        {%- else -%}
        padding-right: 60px;
        {%- endif -%}
    }
    @media (max-width: 1199px) {
        .about-area-2 .about-content .about-banner-area:nth-of-type(odd) .abt-banner-desc{
            {%- if settings.enable_rtl -%}
            padding-right: 30px;
            {%- else -%}
            padding-left: 30px;
            {%- endif -%}
        }
        .about-area-2 .about-content .about-banner-area:nth-of-type(even) .abt-banner-desc{
            {%- if settings.enable_rtl -%}
            padding-left: 30px;
            {%- else -%}
            padding-right: 30px;
            {%- endif -%}
        }
    }
    @media (max-width: 767px) {
        .about-area-2 .about-content .about-banner-area{
            margin-top: 22px;
        }
        .about-area-2 .about-content .about-banner-area:first-of-type{
            margin-top: 0px;
        }
        .about-area-2 .about-content .about-banner-area,
        .about-area-2 .about-content .about-banner-area:nth-of-type(even){
            flex-direction: column;
        }
        .about-area-2 .about-content .about-banner-area .single-banner,
        .about-area-2 .about-content .about-banner-area .abt-banner-desc{
            width: 100%;
        }
        .about-area-2 .about-content .about-banner-area:nth-of-type(odd) .abt-banner-desc,
        .about-area-2 .about-content .about-banner-area:nth-of-type(even) .abt-banner-desc{
            padding: 15px 0 0;
        }
    }

    /* play button css */
    .about-area-2 .about-content .about-banner-area .single-banner a.banner-img span{
        color: var(--font-color-primary);
        font-size: 30px;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 100%;
        line-height: 0;
        z-index: 1;
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s;
    }
    .about-area-2 .about-content .about-banner-area .single-banner a.banner-img span::before,
    .about-area-2 .about-content .about-banner-area .single-banner a.banner-img span::after{
        content: '';
        position: absolute;
        top: 0;
        {% if settings.enable_rtl %}
        right: 0;
        {% else %}
        left: 0;
        {% endif %}
        width: 100%;
        height: 100%;
        border-radius: 100%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }
    .about-area-2 .about-content .about-banner-area .single-banner a.banner-img span::before{
        -webkit-animation: hovereffect 2s linear infinite alternate;
        -moz-animation: hovereffect 2s linear infinite alternate;
        animation: hovereffect 2s linear infinite alternate;
    }
    .about-area-2 .about-content .about-banner-area .single-banner a.banner-img span::after{
        -webkit-animation: hovereffect 4s linear infinite alternate;
        -moz-animation: hovereffect 4s linear infinite alternate;
        animation: hovereffect 4s linear infinite alternate;
    }
    @-webkit-keyframes hovereffect{
        0%{
            opacity: 0.3;
        }
        40%{
            opacity: 0.5;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
        }
        100%{
            opacity: 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
        }
    }
    @-moz-keyframes hovereffect{
        0%{
            opacity: 0.3;
        }
        40%{
            opacity: 0.5;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
        }
        100%{
            opacity: 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
        }
    }
    @keyframes hovereffect{
        0%{
            opacity: 0.3;
        }
        40%{
            opacity: 0.5;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
        }
        100%{
            opacity: 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
        }
    }

    /* about content css */
    .about-area-2 .about-content .about-banner-area .abt-banner-desc h6{
        font-size: 20px;
        line-height: 1;
    }
    .about-area-2 .about-content .about-banner-area .abt-banner-desc p{
        margin-top: 20px;
    }
    @media (max-width: 767px) {
        .about-area-2 .about-content .about-banner-area .abt-banner-desc p{
            margin-top: 8px;
        }
    }
</style>