<section class="article-area section-ptb">
    <div class="container">
        <div class="row {% if section.settings.sidebar_handle == 'left_sidebar_handle' %}left-wrap{% elsif section.settings.sidebar_handle == 'right_sidebar_handle' %}right-wrap{% endif %}">
            <div class="{% if section.settings.sidebar_handle == 'without_sidebar' %}col{% else %}col-xl-9 col-lg-8 col-md-12 col-12 blog-article-wrap{% endif %}">
                <div class="single-blog-area">
                    <div class="blog-post-area">
                        {%- for block in section.blocks -%}
                        {%- case block.type -%}

                        {%- when 'article_image'-%}
                        <div class="blog-post-opt">
                            <div class="blog-image banner-hover">
                                <a href="{{ article.url }}" class="banner-img">
                                    <img width="{{ article.image.width }}" height="{{ article.image.height }}" class="img-fluid" src="{{ article.image | image_url }}" alt="{{ article.title | escape }}" />
                                </a>
                            </div>
                        </div>

                        {%- when 'article_title'-%}
                        <div class="blog-post-opt">
                            <div class="blog-revert">
                                <h2 class="post-title">{{ article.title }}</h2>
                            </div>
                        </div>

                        {%- when 'article_content'-%}
                        <div class="blog-post-opt">
                            <div class="blog-content">
                                {{ article.content }}
                            </div>
                        </div>

                        {%- when 'article_author'-%}
                        <div class="blog-post-opt">
                            <div class="post-info">
                                <blockquote>
                                    <i class="ri-double-quotes-l"></i>
                                    <h2 class="post-title">
                                        <span>{{ block.settings.article_through }} {{ article.author | truncatewords: 2 | remove: "." }}</span>
                                    </h2>
                                    <ul>
                                        <li class="date-time">
                                            <i class="ri-calendar-line"></i>
                                            <span>{{ article.published_at | date: '%b %d, %Y' }}</span>
                                        </li>
                                        <li class="blog-comment">
                                            <i class="ri-message-2-line"></i>
                                            <span class="comment-count">{{ article.comments_count }} {% if article.comments_count == 1 %}{{ settings.blog_comment_title }}{% else %}{{ settings.blog_comment_titles }}{% endif %}</span>
                                        </li>
                                    </ul>
                                </blockquote>
                            </div>
                        </div>

                        {%- when 'article_tag'-%}
                        {% if article.tags.size > 0 %}
                        <div class="blog-post-opt">
                            <div class="post-info-tag">
                                <ul class="post-tag">
                                    {% for tag in article.tags %}
                                    <li>{{ tag | link_to_tag: tag }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        {%- when 'article_social'-%}
                        <div class="blog-post-opt">
                            <div class="blog-share">
                                {% render 'social-share-blog' %}
                            </div>
                        </div>

                        {%- when 'article_next_prev'-%}
                        <div class="blog-post-opt">
                            <div class="blog-prev-next">
                                <ul>
                                    <li>
                                        <a href="{{ blog.previous_article }}">
                                            <i class="ri-arrow-left-line"></i>
                                            <span>{{ block.settings.blog_prev_button_title }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ blog.next_article }}">
                                            <span>{{ block.settings.blog_next_button_title }}</span>
                                            <i class="ri-arrow-right-line"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {%- endcase -%}
                        {%- endfor -%}
                    </div>

                    {% if article.comments_enabled? %}
                    {% assign comment_post_limit = section.settings.comment_post_limit_handle %}
                    {% paginate article.comments by comment_post_limit %}
                    <div id="comments" class="blog-comments">
                        {% if article.comments.size > 0 %}
                        {% render 'blog-comments' %}
                        {% endif %}
                        {% if paginate.pages > 1 %}
                        <div class="comment-pagination">
                            {% render 'pagination' %}
                        </div>
                        {% endif %}
                        {% endpaginate %}
                        <div class="blog-comment-form">
                            {% render 'blog-comment-form' %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% unless section.settings.sidebar_handle == 'without_sidebar' %}
            <div class="col-xl-3 col-lg-4 col-md-12 col-12 blog-article-wrap">
                {% render 'blog-sidebar' %}
            </div>
            {% endunless %}
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Article Page",
  "settings": [
    {
      "type": "header",
      "content": "Article Sidebar"
    },
    {
      "type": "radio",
      "id": "blog_sidebar_position_handle",
      "label": "Sidebar Position",
      "options": [
        {
          "label": "Sticky",
          "value": "sticky_sidebar"
        },
        {
          "label": "Simple",
          "value": "simple_sidebar"
        }
      ],
      "default": "sticky_sidebar"
    },
    {
      "type": "header",
      "content": "Article Sidebar Option"
    },
    {
      "type": "radio",
      "id": "sidebar_handle",
      "label": "Sidebar Option",
      "options": [
        {
          "label": "Left Sidebar",
          "value": "left_sidebar_handle"
        },
        {
          "label": "Right Sidebar",
          "value": "right_sidebar_handle"
        },
        {
          "label": "Without Sidebar",
          "value": "without_sidebar"
        }
      ],
      "default": "left_sidebar_handle"
    },
    {
      "type": "paragraph",
      "content": "Sidebar List"
    },
    {
      "type": "checkbox",
      "id": "blog_search_bar_enable",
      "label": "Show Searchbar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "archive_enable",
      "label": "Show Archive",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "recent_post_enable",
      "label": "Show Recent Posts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": "Show Tags",
      "default": true
    },
    {
      "type": "header",
      "content": "Blog Comment Title"
    },
    {
      "type": "text",
      "id": "article_cmt",
      "label": "Comment Title",
      "default": "Comment"
    },
    {
      "type": "text",
      "id": "comment_post_limit_handle",
      "label": "How Many Comment Post Show",
      "default": "5"
    },
    {
      "type": "paragraph",
      "content": "Avtar option In place of comment author first two character name"
    },
    {
      "type": "checkbox",
      "id": "article_avtar_enable",
      "label": "Show Avtar",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "article_image",
      "name": "Article Image",
      "limit": 1
    },
    {
      "type": "article_title",
      "name": "Article Title",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Article Content",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Article Author",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Blog Post By"
        },
        {
          "type": "text",
          "id": "article_through",
          "label": "Blog Post Through Text",
          "default": "By"
        }
      ]
    },
    {
      "type": "article_tag",
      "name": "Article Tag",
      "limit": 1
    },
    {
      "type": "article_social",
      "name": "Article Social",
      "limit": 1
    },
    {
      "type": "article_next_prev",
      "name": "Article Next/Prev",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Blog Previous Next Post"
        },
        {
          "type": "text",
          "id": "blog_prev_button_title",
          "label": "Previous Button Title",
          "default": "Prev post"
        },
        {
          "type": "text",
          "id": "blog_next_button_title",
          "label": "Next Button Title",
          "default": "Next post"
        }
      ]
    }
  ]
}
{% endschema %}
<style>
    .article-area .left-wrap{
        flex-direction: row-reverse;
    }
    @media (max-width : 991px) {
        .article-area .left-wrap,
        .article-area .right-wrap{
          flex-direction: column-reverse;
        }
        .article-area .blog-article-wrap{
          margin-top: 30px;
        }
        .article-area .blog-article-wrap:last-child{
          margin-top: 0px;
        }
    }

    /* blog post option css */
    .single-blog-area .blog-post-area .blog-post-opt{
        margin-top: 30px;
    }
    .single-blog-area .blog-post-area .blog-post-opt:first-child{
        margin-top: 0px;
    }
    .single-blog-area .blog-post-area .blog-post-opt .blog-share ul.social-icons li a {
        border-radius: 5px;
    }

    /* blog title */
    .single-blog-area .blog-post-area .blog-revert h2.post-title{
        font-size: 24px;
        line-height: 1;
    }

    /* blog content */
    .single-blog-area .blog-post-area .blog-content .blog-wrap-desc blockquote {
        position: relative;
        background-image: var(--gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
        margin: 22px 0 23px;
        padding: 30px;
        font-weight: 600;
        text-align: center;
        line-height: 25px;
    }
    .single-blog-area .blog-post-area .blog-content .blog-wrap-desc blockquote::before {
        background-image: var(--gradient-color);
        content: '';
        position: absolute;
        top: 0px;
        {% if settings.enable_rtl %}
        right: 0px;
        {% else %}
        left: 0px;
        {% endif %}
        width: 2px;
        height: 100%;
    }
    .single-blog-area .blog-post-area .blog-content .blog-wrap-desc p.blog-desc{
        margin-top: 10px;
        position: relative;
        {% if settings.enable_rtl %}
        padding-right: 15px;
        {% else %}
        padding-left: 15px;
        {% endif %}
    }
    .single-blog-area .blog-post-area .blog-content .blog-wrap-desc p.blog-desc::before{
        content: "";
        position: absolute;
        top: 10px;
        {% if settings.enable_rtl %}
        right: 0;
        {% else %}
        left: 0;
        {% endif %}
        width: 5px;
        height: 5px;
        background-color: var(--font-color-paragraph);
        border-radius: 100%;
    }
    @media (max-width : 767px) {
        .single-blog-area .blog-post-area .blog-content .blog-wrap-desc blockquote{
            padding: 30px 15px;
        }
    }

    /* blog info */
    .single-blog-area .blog-post-area .post-info blockquote{
        position: relative;
        padding: 30px;
        margin-bottom: 0;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .single-blog-area .blog-post-area .post-info blockquote::before {
        background-image: var(--gradient-color);
        content: '';
        position: absolute;
        top: 0px;
        {% if settings.enable_rtl %}
        right: 0px;
        {% else %}
        left: 0px;
        {% endif %}
        width: 2px;
        height: 100%;
    }
    .single-blog-area .blog-post-area .post-info blockquote i{
        background-image: var(--gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
        font-size: 45px;
    }
    .single-blog-area .blog-post-area .post-info blockquote h2{
        font-size: 16px;
        margin-top: 16px;
        text-transform: capitalize;
        line-height: 1;
    }
    .single-blog-area .blog-post-area .post-info blockquote ul{
        display: flex;
        margin-top: 25px;
    }
    .single-blog-area .blog-post-area .post-info blockquote ul li{
        display: flex;
        align-items: center;
        {% if settings.enable_rtl %}
        margin-right: 15px;
        {% else %}
        margin-left: 15px;
        {% endif %}
        font-style: normal;
    }
    .single-blog-area .blog-post-area .post-info blockquote ul li:first-child{
        {% if settings.enable_rtl %}
        margin-right: 0px;
        {% else %}
        margin-left: 0px;
        {% endif %}
    }
    .single-blog-area .blog-post-area .post-info blockquote ul li i{
        font-size: 16px;
    }
    .single-blog-area .blog-post-area .post-info blockquote ul li span{
        font-size: 14px;
        {% if settings.enable_rtl %}
        margin-right: 5px;
        {% else %}
        margin-left: 5px;
        {% endif %}
    }
    @media (max-width : 767px) {
        .single-blog-area .blog-post-area .post-info blockquote{
            padding: 30px 15px;
        }
    }

    /* blog tag */
    .single-blog-area .blog-post-area .post-info-tag ul{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        {% if settings.enable_rtl %}
        margin: -5px -5px 0 0px;
        {% else %}
        margin: -5px 0 0 -5px;
        {% endif %}
    }
    .single-blog-area .blog-post-area .post-info-tag ul li{
        {% if settings.enable_rtl %}
        margin: 5px 5px 0 0px;
        {% else %}
        margin: 5px 0 0 5px;
        {% endif %}
    }
    .single-blog-area .blog-post-area .post-info-tag ul li a{
        color: #ffffff;
        font-size: 14px;
        padding: 10px 15px;
        background-color: #232323;
        border-radius: 5px;
        line-height: 1;
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s;
    }
    .single-blog-area .blog-post-area .post-info-tag ul li:hover a{
        background-image: var(--gradient-color);
    }

    /* blog next-previous post */
    .single-blog-area .blog-post-area .blog-prev-next{
        padding: 15px 0;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
    }
    .single-blog-area .blog-post-area .blog-prev-next ul{
        display: flex;
        justify-content: space-between;
        line-height: 1;
    }
    .single-blog-area .blog-post-area .blog-prev-next ul li a{
        background-image: var(--gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1;
        font-weight: 600;
        display: flex;
        text-transform: uppercase;
        -webkit-transition: all 0s ease-in-out 0s;
        -o-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s;
    }
    .single-blog-area .blog-post-area .blog-prev-next ul li a:hover{
        background-image: var(--hover-gradient-color);
    }
    .single-blog-area .blog-post-area .blog-prev-next ul li a i{
        {%- if settings.enable_rtl -%}
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        {%- endif -%}
        line-height: 1;
    }

    /* blog comment form */
    .single-blog-area .blog-comment-form{
        margin-top: 30px;
    }

    /* blog comments */
    .single-blog-area .blog-comments{
        margin-top: 30px;
    }

    /* blog comment form error */
    .single-blog-area .blog-comment-form .errors{
        font-size: 14px;
        padding: 10px 15px;
        margin: 30px 0 13px;
        {% if settings.enable_rtl %}
        text-align: right;
        {% else %}
        text-align: left;
        {% endif %}
        border-radius: 0;
    }
    .single-blog-area .blog-comment-form .errors ul{
        {% if settings.enable_rtl %}
        margin-right: 15px;
        margin-left: auto;
        {% else %}
        margin-left: 15px;
        {% endif %}
    }
    .single-blog-area .blog-comment-form .errors ul li{
        margin-top: 4px;
    }
    .single-blog-area .blog-comment-form .errors ul li:first-child{
        margin-top: 0px;
    }
    @media (max-width: 767px) {
        .single-blog-area .blog-comment-form .errors{
            margin: 20px 0 13px;
        }
    }
</style>
