<section class="faq-custom-text">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="custom-text-content">
                    <h2>
                        {{ section.settings.custom_text_title }}
                    </h2>
                    <div class="faq-block">
                        <ul id="collapse-faq">
                            {% assign i = 0 %}
                            {% for block in section.blocks %}
                            {% assign i = i | plus: 1 %}
                            <li>
                                <a href="#collapse-{{ section.id }}-{{ i }}" class="question" data-bs-toggle="collapse" {% if forloop.first %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %}>
                                    <span class="faq-counter">{% if i < 10 %}{{ i | prepend: "0" }}{% else %}{{ i }}{% endif %}</span>
                                    <span class="que">{{ block.settings.accordion_title }}</span>
                                    <span class="que-accordian"><i class="ri-add-line"></i></span>
                                </a>
                                <div class="ans-accordian collapse{% if forloop.first %} show{% endif %}" id="collapse-{{ section.id }}-{{ i }}" data-bs-parent="#collapse-faq">
                                    <p>{{ block.settings.accordion_ans1 }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if section.settings.faq_button_url != '' %}
                    <a class="faq-button btn btn-style" href="{{ section.settings.faq_button_url }}">
                        {{ section.settings.faq_button }}
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="custom-text-img">
                    <a class="{% if section.settings.banner_video_button_enable %} play-button popup-youtube{% endif %}" href="{{ section.settings.custom_text_img_url }}">
                        <img width="{{ section.settings.custom_text_img.width }}" height="{{ section.settings.custom_text_img.height }}" src="{% if section.settings.custom_text_img %}{{ section.settings.custom_text_img | image_url }}{% else %}https://dummyimage.com/600x700{% endif %}" class="img-fluid" alt="">
                        {% if section.settings.banner_video_button_enable %}
                        <span>
                            <i class="ri-play-line"></i>
                        </span>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="contact-form">
                {% if section.settings.contact_heading != '' %}
                <h2 class="ft-title">{{ section.settings.contact_heading }}</h2>
                {% endif %}
                {% form 'contact' %}
                {{ form.errors | default_errors }}
                <input type="text" placeholder="{{ 'contact.form.name' | t }}" class="{% if form.errors contains 'name' %}error{% endif %}" name="contact[name]" id="ContactFormName" value="{% if form.name %}{{ form.name }}{% elsif customer.name %}{{ customer.name }}{% endif %}" required>
                <input type="email" placeholder="{{ 'contact.form.email' | t }}" class="{% if form.errors contains 'email' %}error{% endif %}" name="contact[email]" id="ContactFormEmail" value="{% if form.email %}{{ form.email }}{% elsif customer.email %}{{ customer.email }}{% endif %}" required>
                <input type="text" placeholder="{{ 'contact.form.phone' | t }}" class="{% if form.errors contains 'phone' %}error{% endif %}" name="contact[phone]" id="ContactFormPhone" value="{% if form.phone %}{{ form.phone }}{% elsif customer.phone %}{{ customer.phone }}{% endif %}" required>
                <textarea rows="3" cols="50" placeholder="{{ 'contact.form.message' | t }}" class="custom-textarea h-100" name="contact[body]" id="ContactFormMessage" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
                {% if form.posted_successfully? %}
                <p class="text-success">{{ 'contact.form.post_success' | t }}</p>
                {% endif %}
                <button type="submit" class="btn btn-style2">
                  <span>{{ 'contact.form.send' | t }}</span>
                </button>
                {% endform %}
                
              </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "FAQ Custom Text",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop"
    },
    {
      "type": "range",
      "id": "custom_text_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "custom_text_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "custom_text_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "custom_text_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "custom_text_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "custom_text_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Custom Text Content"
    },
    {
      "type": "text",
      "id": "custom_text_title",
      "label": "Faq Title",
      "default": "Why choose our product"
    },
    {
      "type": "url",
      "id": "faq_button_url",
      "label": "Faq button url"
    },
    {
      "type": "text",
      "id": "faq_button",
      "label": "Faq button",
      "default": "Discover now"
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "custom_text_bgcolor",
      "label": "Background Color",
      "default": "#D6EEFF"
    },
    {
      "type": "checkbox",
      "id": "custom_text_bgcolor_enable",
      "label": "Show Background Color",
      "default": true
    },
    {
      "type": "header",
      "content": "Custom Banner Image"
    },
    {
      "type": "image_picker",
      "id": "custom_text_img",
      "label": "Banner Image",
      "info": "Recommended Size: 1920x500 Image"
    },
    {
      "type": "url",
      "id": "custom_text_img_url",
      "label": "Video url"
    },
    {
      "type": "checkbox",
      "id": "banner_video_button_enable",
      "label": "Video Button enable",
      "default": true
    },
    {
      "type": "textarea",
      "id": "contact_heading",
      "label": "Contact heading",
      "default": "Contact Us"
    }
  ],
  "blocks": [
    {
      "type": "accordion_area",
      "name": "Faq Accordion",
      "settings": [
        {
          "type": "text",
          "id": "accordion_title",
          "label": "Accordion Title",
          "info": "Type Here For Question?",
          "default": "Type In SideBox For Question?"
        },
        {
          "type": "textarea",
          "id": "accordion_ans1",
          "label": "Answer1",
          "info": "Type Here For Answer",
          "default": "Type In SideBox For Answer."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Custom Text"
    }
  ]
}
{% endschema %}
<style>
    .faq-custom-text {
        padding-top: {{ section.settings.custom_text_padding_top }}px;
        padding-bottom: {{ section.settings.custom_text_padding_bottom }}px;
        {% if section.settings.custom_text_bgcolor_enable %}
        background-color: {{ section.settings.custom_text_bgcolor }};
        {% endif %}
    }
    @media (max-width: 1199px) {
        .faq-custom-text {
            padding-top: {{ section.settings.custom_text_padding_top_ip }}px;
            padding-bottom: {{ section.settings.custom_text_padding_bottom_ip }}px;
        }
    }
    @media (max-width: 767px) {
        .faq-custom-text {
            padding-top: {{ section.settings.custom_text_padding_top_xs }}px;
            padding-bottom: {{ section.settings.custom_text_padding_bottom_xs }}px;
        }
    }
/* custom text css */
.faq-custom-text .custom-text-content h2 {
    font-size: 35px;
    padding-bottom: 30px;
    line-height: 40px;
}
.faq-custom-text .faq-block{
}
.faq-custom-text .faq-block ul{
}
.faq-custom-text .faq-block ul li{
    padding: 15px 0;
}
.faq-custom-text .faq-block ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-custom-text .faq-block ul li a span.faq-counter{
    height: 25px;
    width: 25px;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #11ad7e;
}
.faq-custom-text .faq-block ul li a span.que{
    margin-right: auto;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
}
.faq-custom-text .faq-block ul li a span.que-accordian{
    line-height: 1;
    font-size: 18px;
}
.faq-custom-text .faq-block ul li a[aria-expanded="true"] span.que-accordian i:before{
    content: "\f1af";
}
.faq-custom-text .faq-block ul li .ans-accordian {
    margin-left: 40px;
}
.faq-custom-text .faq-block ul li a[aria-expanded="true"]{
    padding-bottom: 15px;
}
.faq-custom-text .faq-block ul li .ans-accordian p{
    font-size: 13px;
    max-width: 90%;
}
.faq-custom-text a.faq-button {
    margin-top: 30px;
}


/*contact-form*/
.faq-custom-text .contact-form h2{
    font-size: 35px;
    padding-bottom: 15px;
    line-height: 40px;
}

.faq-custom-text .contact-form textarea,
.faq-custom-text .contact-form input{
    margin-top: 15px;
    width: 100%;
    border-radius: 0;
}
.faq-custom-text .contact-form textarea:focus,
.faq-custom-text .contact-form input:focus{
    border: 1px solid var(--font-color-primary);
}
.faq-custom-text .contact-form button{
    margin-top: 30px;
}

/* play button css */
.faq-custom-text .custom-text-img a.play-button {
    position: relative;
}
.faq-custom-text .custom-text-img a.play-button span{
    color: var(--font-color-primary);
    font-size: 30px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 100%;
    line-height: 0;
    z-index: 1;
    -webkit-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
}
.faq-custom-text .custom-text-img a.play-button span::before,
.faq-custom-text .custom-text-img a.play-button span::after{
    content: '';
    position: absolute;
    top: 0;
    {% if settings.enable_rtl %}
    right: 0;
    {% else %}
    left: 0;
    {% endif %}
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #fff;
}
.faq-custom-text .custom-text-img a.play-button span::before{
    -webkit-animation: hovereffect 2s linear infinite alternate;
    -moz-animation: hovereffect 2s linear infinite alternate;
    animation: hovereffect 2s linear infinite alternate;
}
.faq-custom-text .custom-text-img a.play-button span::after{
    -webkit-animation: hovereffect 4s linear infinite alternate;
    -moz-animation: hovereffect 4s linear infinite alternate;
    animation: hovereffect 4s linear infinite alternate;
}
@-webkit-keyframes hovereffect{
    0%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.5;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
    }
    100%{
        opacity: 0;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@-moz-keyframes hovereffect{
    0%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.5;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
    }
    100%{
        opacity: 0;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes hovereffect{
    0%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.5;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
    }
    100%{
        opacity: 0;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0 0 1px 1px {{ settings.heading_text_color | color_modify: 'alpha', 0.5 }},0 0 0 1px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
}


@media(max-width: 1599px){
    .faq-custom-text .contact-form h2,
    .faq-custom-text .custom-text-content h2{
        font-size: 30px;
    }
}
@media(max-width: 1199px){
    .faq-custom-text .custom-text-img,
    .faq-custom-text .contact-form:not(form.contact-form){
        margin-top: 30px;
    }
    .faq-custom-text .contact-form h2,
    .faq-custom-text .custom-text-content h2 {
        font-size: 22px;
    }
}
</style>