<!-- Browuse categoryies -->
<section class="banner-category">
  <div class="container">
    <ul class="grid-wrap">
      <li class="grid-wrapper title-content">
        <div class="des-wrap">
          <h2>{{ section.settings.cat_title }}</h2>
          <p>{{ section.settings.cat_description }}</p>
          {% if section.settings.des_button != '' %}
          <a href="{{ section.settings.des_button_url }}" class="btn btn-style2">
            {{ section.settings.des_button }}
          </a>
          {% endif %}
        </div>
      </li>
      <li class="grid-wrapper">
        {% assign select_category = collections[section.settings.select_category] %}
        <div class="cat-wrap wow animate__fadeIn">
          <a href="{{ select_category.url }}">
            <span class="cat-count">{{ select_category.products.count }} + {{ section.settings.item_title }}</span>
            <div class="cat-img">
                <span class="cat-title">{{ select_category.title }}</span>
                <img width="{{ section.settings.cat_banner.width }}" height="{{ section.settings.cat_banner.height }}" class="img-fluid" src="{% if section.settings.cat_banner %}{{ section.settings.cat_banner | image_url }}{% else %}https://dummyimage.com/430x555/f7f7f7/999999{% endif %}" alt="">
            </div>
          </a>
        </div>
      </li>
      <li class="grid-wrapper">
        {% assign select_category2 = collections[section.settings.select_category2] %}
        <div class="cat-wrap wow animate__fadeIn">
          <a href="{{ select_category2.url }}">
            <span class="cat-count">{{ select_category2.products.count }} + {{ section.settings.item_title }}</span>
            <div class="cat-img">
                <img width="{{ section.settings.cat2_banner.width }}" height="{{ section.settings.cat2_banner.height }}" class="img-fluid" src="{% if section.settings.cat2_banner %}{{ section.settings.cat2_banner | image_url }}{% else %}https://dummyimage.com/430x555/f7f7f7/999999{% endif %}" alt="">
                <span class="cat-title">{{ select_category2.title }}</span>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
{% schema %}
{
  "name": "Banner category",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 20
    },
    {
      "type": "textarea",
      "id": "cat_title",
      "label": "Category title",
      "default": "Make your own style"
    },
    {
      "type": "textarea",
      "id": "cat_description",
      "label": "Category Description",
      "default": "different ways today to find Information online you find."
    },
    {
      "type": "url",
      "id": "des_button_url",
      "label": "Category button url"
    },
    {
      "type": "text",
      "id": "des_button",
      "label": "Category button",
      "default": "Membership."
    },
    {
      "type": "text",
      "id": "item_title",
      "label": "Category items title",
      "default": "Items"
    },
    {
      "type": "header",
      "content": "Category banner area"
    },
    {
      "type": "collection",
      "id": "select_category",
      "label": "Select Your Collection"
    },
    {
      "type": "image_picker",
      "id": "cat_banner",
      "label": "Category banner",
      "info": "Recommended Size: 430x555px"
    },
    {
      "type": "header",
      "content": "Category banner area"
    },
    {
      "type": "collection",
      "id": "select_category2",
      "label": "Select Your Collection"
    },
    {
      "type": "image_picker",
      "id": "cat2_banner",
      "label": "Category banner",
      "info": "Recommended Size: 430x555px"
    }
  ],
  "presets": [
    {
      "name": "banner category"
    }
  ]
}
{% endschema %}
<style>
.banner-category {
  padding-top: {{ section.settings.section_padding_top }}px;
  padding-bottom: {{ section.settings.section_padding_bottom }}px;
}
@media (max-width: 1199px) {
  .banner-category {
    padding-top: {{ section.settings.section_padding_top_ipad }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_ipad }}px;
  }
}
@media (max-width: 767px) {
  .banner-category {
    padding-top: {{ section.settings.section_padding_top_xs }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
  }
}
.banner-category .container-col {
  padding-left: 285px;
  padding-right: 285px;
}
@media(max-width: 1599px){
  .banner-category .container-col {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media(max-width: 991px){
  .banner-category .container-col {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media(max-width: 767px){
  .banner-category .container-col {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*category banner area*/
.banner-category .grid-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -90px;
}
.banner-category .grid-wrapper{
    width: calc(33.33% - 90px);
    margin-top: 30px;
    margin-left: 90px;
}
.banner-category .des-wrap {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.banner-category .des-wrap h2{
    font-size: 40px;
    text-transform: uppercase;
}
.banner-category .des-wrap p{
    font-size: 18px;
    max-width: 80%;
    margin-top: 30px;
    line-height: 30px;
}
.banner-category .des-wrap a{
  margin-top: 40px;
}

.banner-category .cat-wrap {
    position: relative;
}
.banner-category .cat-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 40px;
}
.banner-category .cat-count{
    color: var(--font-color-secondary);
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    padding: 10px 8px;
    background-color: #ffd54d;
    position: absolute;
    left: 0;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    transform: rotate(180deg);
    left: -45px;
}
.banner-category .grid-wrapper:nth-child(3) .cat-title{
    margin-bottom: 0px;
    margin-top: 40px;
} 
.banner-category .grid-wrapper:nth-child(2) .cat-count{
    bottom: 0;
}
@media(max-width: 1199px){
    .banner-category .des-wrap h2{
        font-size: 24px;
    }
    .banner-category .des-wrap p{
        font-size: 14px;
        max-width: 100%;
        margin-top: 15px;
        line-height: 25px;
    }
    .banner-category .des-wrap a{
        margin-top: 20px;
    }
}
@media(max-width: 991px){
    .banner-category .grid-wrap{
        margin-left: -60px;
    }
    .banner-category .grid-wrapper{
        width: calc(33.33% - 60px);
        margin-left: 60px;
    }
    .banner-category .cat-title{
        font-size: 14px;
        margin-bottom: 15px;
    }
    .banner-category .grid-wrapper:nth-child(3) .cat-title{
        margin-top: 15px;
    }
    .banner-category .cat-count{
        font-size: 13px;
    }
}
@media(max-width: 767px){
    .banner-category .grid-wrap{
        margin-left: 0px;
    }
    .banner-category .grid-wrapper{
        width: 100%;
        margin-left: 0px;
    }
    .banner-category .cat-count{
        left: 0;
    }
}
</style>