<section class="blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-capture">
          <div class="section-title">
            {% if section.settings.blog_title != '' %}
            <h2>
              <span>{{ section.settings.blog_title }}</span>
            </h2>
            {% endif %}
          </div>
        </div>
        {% assign blog_home = blogs[section.settings.blog_home] %}
        <div class="blog-slider owl-carousel owl-theme" id="blog-slider">
          {% assign blog_home_limit = section.settings.blog_home_limit_handle %}
          {% for article in blog_home.articles limit: blog_home_limit %}
          <div class="item">
            {% render 'blog-grid-item' %}
          </div>
          {% endfor %}
        </div>
        {% if section.settings.blog_view_btn_enable %}
        <div class="blog-view-wrap">
          <a href="{{ section.settings.blog_view_btn_url }}" class="btn {% if section.settings.blog_button_style == 'btn-style1' %}btn-style{% elsif section.settings.blog_button_style == 'btn-style2' %}btn-style2{% else %}btn-style3{% endif %}">{{ section.settings.blog_view_btn }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  addEventListener('DOMContentLoaded', (event) => {
    $('#blog-slider').owlCarousel({
      loop: false,
      rewind: true,
      margin: 30,
      nav: false,
      navText: ['<i class="ri-arrow-left-line"></i>','<i class="ri-arrow-right-line"></i>'],
      dots: false,
      {%- if settings.enable_rtl -%}
      rtl: true,
      {%- endif -%}
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      responsive:{
        0:{
          items: 1,
          margin: 15
        },
        479:{
          items: 1,
          margin: 15
        },
        540:{
          items: 2,
          margin: 15
        },
        768:{
          items: 2,
          margin: 15
        },
        979:{
          items: 2
        },
        1199: {
          items: 3
        }
      }
    });
  });
</script>
{% schema %}
{
  "name": "Home Blog",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "blog_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "blog_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "blog_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "blog_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "blog_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "blog_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "blog_bgcolor",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "blog_check",
      "label": "With Background image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "banner_bgimg",
      "label": "Background Image",
      "info": "Recommended Size: 500px x 500px"
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "blog_title",
      "label": "Title",
      "default": "Latest news"
    },
    {
      "type": "header",
      "content": "Select Blog"
    },
    {
      "type": "blog",
      "id": "blog_home",
      "label": "Select"
    },
    {
      "type": "text",
      "id": "blog_home_limit_handle",
      "label": "Blog Limit",
      "default": "8"
    },
    {
      "type": "header",
      "content": "View All Button"
    },
    {
      "type": "text",
      "id": "blog_view_btn",
      "label": "Button Text",
      "default": "See more"
    },
    {
      "type": "url",
      "id": "blog_view_btn_url",
      "label": "Button URL"
    },
    {
      "type": "checkbox",
      "id": "blog_view_btn_enable",
      "label": "Show View All Button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Home Blog",
      "category": "Blog Post"
    }
  ]
}
{% endschema %}
<style>
  .blog-wrap{
    padding-top: {{ section.settings.blog_padding_top }}px;
    padding-bottom: {{ section.settings.blog_padding_bottom }}px;
    {% if section.settings.blog_check %}
    background-image: url('{% if section.settings.banner_bgimg %}{{ section.settings.banner_bgimg | image_url }}{% else %}https://dummyimage.com/1920x1080{% endif %}');
    background-repeat: no-repeat;
    background-position: center;
    {% endif %}
    background-color: {{ section.settings.blog_bgcolor }};
  }
  @media (max-width: 1199px) {
    .blog-wrap{
      padding-top: {{ section.settings.blog_padding_top_ip }}px;
      padding-bottom: {{ section.settings.blog_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .blog-wrap{
      padding-top: {{ section.settings.blog_padding_top_xs }}px;
      padding-bottom: {{ section.settings.blog_padding_bottom_xs }}px;
    }
  }

  /*slider arrow*/
  .blog-slider.owl-carousel .owl-nav button{
    display: flex;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
  }
  .blog-slider.owl-carousel .owl-nav button.owl-prev{
    right: calc(100% - -30px);
  }
  .blog-slider.owl-carousel .owl-nav button.owl-next{
    left: calc(100% - -30px);
  }

  @media(max-width: 1599px){
    .blog-slider.owl-carousel .owl-nav button.owl-prev{
      right: calc(100% - 15px);
    }
    .blog-slider.owl-carousel .owl-nav button.owl-next{
      left: calc(100% - 15px);
    }
  }
  @media(max-width: 767px){
    .blog-wrap .blog-slider .owl-nav button{
      display: none;
    }
  }

  {% if section.settings.blog_view_btn_enable %}
  .blog-wrap .blog-view-wrap{
    margin-top: {{ section.settings.blog_padding_top }}px;
    text-align: center;
  }
  @media (max-width: 1199px) {
    .blog-wrap .blog-view-wrap{
      margin-top: {{ section.settings.blog_padding_top_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .blog-wrap .blog-view-wrap{
      margin-top: {{ section.settings.blog_padding_top_xs }}px;
    }
  }
  {% endif %}
</style>
