<section class="contact-store-area">
	<div class="container">
		<div class="row">
			<div class="col">
				{% if section.settings.new_title != '' %}
				<div class="other-page-new-title">
					<div class="new-title">
						<p>{{ section.settings.new_subtitle }}</p>
						<h1>{{ section.settings.new_title }}</h1>
					</div>
				</div>
				{% endif %}
				<div class="store-area">
					<div class="swiper-container" id="store-info-slider">
						<div class="swiper-wrapper">
							{% for block in section.blocks %}
							<div class="swiper-slide">
								<div class="store-item">
									<div class="store-info">
										<div class="store-img">
											<span>
												<img width="{{ block.settings.store_image.width }}" height="{{ block.settings.store_image.height }}" src="{% if block.settings.store_image %}{{ block.settings.store_image | image_url: width: 70, height: 40, crop: 'center' }}{% else %}https://dummyimage.com/70x40{% endif %}" class="img-fluid" alt="">
											</span>
										</div>
										<div class="store-info-area">
											<div class="info-block">
												{{ block.settings.info_text_1 }}
											</div>
											<div class="info-block">
												{{ block.settings.info_text_2 }}
											</div>
										</div>
									</div>
									{% if block.settings.store_btn_text != '' %}
									<div class="store-btn">
										<a class="btn-style3" href="{{ block.settings.store_btn_url }}">{{ block.settings.store_btn_text }}</a>
									</div>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
addEventListener('DOMContentLoaded', (event) => {
  var swiper = new Swiper('#store-info-slider', {
  	slidesPerColumn: 1,
  	slidesPerView: 3,
  	spaceBetween: 30,
  	observer: true,
  	loop: false,
  	observeParents: true,
  	{%- if settings.enable_rtl -%}
  	rtl: true,
  	{%- endif -%}
  	breakpoints: {
  	  0: {
  	    slidesPerView: 1,
  	    spaceBetween: 12
  	  },
  	  479: {
  	    slidesPerView: 1,
  	    spaceBetween: 12
  	  },
  	  600: {
  	    slidesPerView: 1,
  	    spaceBetween: 12
  	  },
  	  768: {
  	    slidesPerView: 2,
  	    spaceBetween: 12
  	  },
  	  979: {
  	    slidesPerView: 2,
  	    spaceBetween: 12
  	  },
  	  1199: {
  	    slidesPerView: 2,
  	    spaceBetween: 12
  	  }
  	}
  });
});
</script>

{% schema %}
{
  "name": "Contact Us Section 4",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "checkbox",
      "id": "section_bg_color_enable",
      "label": "Show Background Color",
      "default": false
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#F6F6F6"
    },
    {
      "type": "text",
      "id": "new_subtitle",
      "label": "Sub Title",
      "default": "Budo store round the world"
    },
    {
      "type": "text",
      "id": "new_title",
      "label": "Title",
      "default": "Other store"
    }
  ],
  "blocks": [
    {
      "name": "Store Info",
      "type": "store_info",
      "settings": [
        {
          "type": "image_picker",
          "id": "store_image",
          "label": "Store Image",
          "info": "Recommended Size: 70px x 40px"
        },
        {
          "type": "richtext",
          "id": "info_text_1",
          "label": "Text 1"
        },
        {
          "type": "richtext",
          "id": "info_text_2",
          "label": "Text 2"
        },
        {
          "type": "text",
          "id": "store_btn_text",
          "label": "Agree text",
          "default": "View map"
        },
        {
          "type": "url",
          "id": "store_btn_url",
          "label": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Us Section 4",
      "category": "Contact Us Section 4"
    }
  ]
}
{% endschema %}

<style>
.contact-store-area {
    overflow-x: hidden;
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    {% if section.settings.section_bg_color_enable %}
    background-color: {{ section.settings.section_bg_color }};
    {% endif %}
  }
  @media (max-width: 1199px){
    .contact-store-area {
      padding-top: {{ section.settings.section_padding_top_ip }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px){
    .contact-store-area {
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
  }

  .contact-store-area .store-area .store-item {
  	position: relative;
  	padding: 70px 30px;
  	text-align: center;
  	border: 1px solid #e2e2e2;
  }	
  .contact-store-area .store-area .store-item::before {
  	background-color: #232323;
  	content: '';
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	opacity: 0;
  	visibility: hidden;
  }
  .contact-store-area .store-area .store-item:hover::before {
  	opacity: 0.8;
  	visibility: visible;
  }
  .contact-store-area .store-area .store-item .store-info .store-info-area {
  	margin-top: 44px;
  }
  .contact-store-area .store-area .store-item .store-info .store-info-area .info-block {
  	margin-top: 28px;
  }
  .contact-store-area .store-area .store-item .store-info .store-info-area .info-block:first-child {
  	margin-top: 0px;
  }
  .contact-store-area .store-area .store-item .store-info .store-info-area .info-block p,
  .contact-store-area .store-area .store-item .store-info .store-info-area .info-block p a {
  	font-size: 18px;
  	font-weight: 400;
  }
  .contact-store-area .store-area .store-item .store-btn {
  	position: absolute;
  	bottom: 50%;
  	transform: translateY(50%);
  	left: 0px;
  	right: 0px;
  	opacity: 0;
  	visibility: hidden;
  }
  .contact-store-area .store-area .store-item:hover .store-btn {
  	opacity: 1;
  	visibility: visible;
  }
  .contact-store-area .store-area .store-item::before,
  .contact-store-area .store-area .store-item:hover::before,
  .contact-store-area .store-area .store-item .store-btn,
  .contact-store-area .store-area .store-item:hover .store-btn {
  	-webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  @media (max-width: 767px) {
  	.contact-store-area .store-area .store-item {
  		padding: 50px 30px;
  	}
  	.contact-store-area .store-area .store-item .store-info .store-info-area {
  		margin-top: 32px;
  	}
  	.contact-store-area .store-area .store-item .store-info .store-info-area .info-block {
  		margin-top: 16px;
  	}
  	.contact-store-area .store-area .store-item .store-info .store-info-area .info-block p,
  	.contact-store-area .store-area .store-item .store-info .store-info-area .info-block p a {
  		font-size: 17px;
  	}
  }
</style>