<section class="main-content-wrap contact-us-page">
  {% if section.settings.contact_us_map_enable %}
  <div class="contact-map">
    {{ section.settings.contact_map }}
  </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Contact Us Section 2",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "contact_map_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "contact_map_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "contact_map_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "contact_map_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "contact_map_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "contact_map_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "contact_map_bgcolor",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "contact_map_bgcolor_enable",
      "label": "Show Background Color",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "contact_us_title",
      "label": "Title",
      "default": "Contact us"
    },
    {
      "type": "textarea",
      "id": "contact_us_desc",
      "label": "Description",
      "default": "Lorem Ipsum is printing & typesetting industry's standard dummy text since texts"
    },
    {
      "type": "header",
      "content": "Map Setting"
    },
    {
      "type": "checkbox",
      "id": "contact_us_map_enable",
      "label": "Show Map",
      "default": true
    },
    {
      "type": "textarea",
      "id": "contact_map",
      "label": "Map",
      "info": "google map iframe here"
    }
  ],
  "presets": [
    {
      "name": "Contact Us Section 2",
      "category": "Contact Us Section 2"
    }
  ]
}
{% endschema %}

<style>
  .contact-us-page{
    padding-top: {{ section.settings.contact_map_padding_top }}px;
    padding-bottom: {{ section.settings.contact_map_padding_bottom }}px;
    {% if section.settings.contact_map_bgcolor_enable %}
    background-color: {{ section.settings.contact_map_bgcolor }};
    {% endif %}
  }
  @media (max-width: 1199px){
    .contact-us-page{
      padding-top: {{ section.settings.contact_map_padding_top_ip }}px;
      padding-bottom: {{ section.settings.contact_map_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px){
    .contact-us-page{
      padding-top: {{ section.settings.contact_map_padding_top_xs }}px;
      padding-bottom: {{ section.settings.contact_map_padding_bottom_xs }}px;
    }
  }
  {% if section.settings.contact_us_map_enable %}
  .contact-us-page .contact-map .map {
    height: {{ section.settings.contact_us_map_height }}px;
    width: 100%;
  }
  {% endif %}
  .contact-us-page .contact-map iframe {
    display: block;
  }
  @media (max-width: 767px){
    .contact-us-page .contact-map .map {
      height: 320px;
    }
  }
</style>