<section class="project-count-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="single-count">
          {% for block in section.blocks %}
          <li class="count-wrap">
            <div class="count-info">
              {% if block.settings.counter_number != '' %}
              <h2 class="count">{{ block.settings.counter_number }}</h2>
              {% endif %}

              <a href="javascript:void(0)">
                <span class="count-icon"><i class="{{ block.settings.counter_icon }}"></i></span>
              </a>

              {% if block.settings.counter_title != '' %}
              <span class="count-title">{{ block.settings.counter_title }}</span>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Counter Up",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "counter_area_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "counter_area_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "counter_area_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "counter_area_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "counter_area_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "counter_area_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "counter_bgcolor",
      "label": "Background Color",
      "default": "#F6F6F6"
    },
    {
      "type": "checkbox",
      "id": "counter_bgcolor_enable",
      "label": "Show Background Color",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "single_item",
      "name": "Counter Up",
      "settings": [
        {
          "type": "paragraph",
          "content": "Counter icon"
        },
        {
          "type": "text",
          "id": "counter_icon",
          "label": "Icon",
          "default": "ri-shopping-bag-line"
        },
        {
          "type": "paragraph",
          "content": "Counter Number"
        },
        {
          "type": "text",
          "id": "counter_number",
          "label": "Number",
          "default": "21+"
        },
        {
          "type": "paragraph",
          "content": "Counter Title"
        },
        {
          "type": "text",
          "id": "counter_title",
          "label": "Title",
          "default": "Years In Business"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Counter Up",
      "category": "2. About Us"
    }
  ]
}
{% endschema %}
<style>
  .project-count-area{
    padding-top: {{ section.settings.counter_area_padding_top }}px;
    padding-bottom: {{ section.settings.counter_area_padding_bottom }}px;
    {% if section.settings.counter_bgcolor_enable %}
    background-color: {{ section.settings.counter_bgcolor }};
    {% endif %}
  }
  @media (max-width: 1199px) {
    .project-count-area{
      padding-top: {{ section.settings.counter_area_padding_top_ip }}px;
      padding-bottom: {{ section.settings.counter_area_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .project-count-area{
      padding-top: {{ section.settings.counter_area_padding_top_xs }}px;
      padding-bottom: {{ section.settings.counter_area_padding_bottom_xs }}px;
    }
  }

  /* counter up css */
  ul.single-count{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #e2e2e2;

  }
  ul.single-count li.count-wrap{
    width: 25%;
    padding: 30px;
    {%- if settings.enable_rtl -%}
    border-left: 1px solid #e2e2e2;
    {%- else -%}
    border-right: 1px solid #e2e2e2;
    {%- endif -%}
  }
  ul.single-count li.count-wrap:last-child{
    {%- if settings.enable_rtl -%}
    border-left: none;
    {%- else -%}
    border-right: none;
    {%- endif -%}
  }
  ul.single-count li.count-wrap .count-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  ul.single-count li.count-wrap .count-info h2{
    font-size: 30px;
    position: relative;
    line-height: 1;
  }
  ul.single-count li.count-wrap .count-info h2::after{
    content: "+";
  }
  ul.single-count li.count-wrap .count-info a{
    color: var(--font-color-primary);
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border: 1px solid transparent;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    line-height: 0;
    -webkit-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
  }
  ul.single-count li.count-wrap .count-info a span.count-icon{
    font-size: 45px;
  }
  ul.single-count li.count-wrap .count-info span.count-title{
    font-size: 16px;
    margin-top: 23px;
  }
  @media (max-width: 991px) {
    ul.single-count li.count-wrap{
      width: 50%;
      border-top: 1px solid #e2e2e2;
    }
    ul.single-count li.count-wrap:nth-child(1),
    ul.single-count li.count-wrap:nth-child(2){
      border-top: none;
    }
    ul.single-count li.count-wrap:nth-child(even){
      {%- if settings.enable_rtl -%}
      border-left: none;
      {%- else -%}
      border-right: none;
      {%- endif -%}
    }
  }
  @media (max-width: 767px) {
    ul.single-count li.count-wrap{
      padding: 30px 15px;
    }
  }
  @media (max-width: 479px) {
    ul.single-count li.count-wrap{
      width: 100%;
    }
    ul.single-count li.count-wrap:nth-child(2){
      border-top: 1px solid #e2e2e2;
    }
    ul.single-count li.count-wrap:nth-child(odd){
      {%- if settings.enable_rtl -%}
      border-left: none;
      {%- else -%}
      border-right: none;
      {%- endif -%}
    }
  }
</style>
