<section class="faq-section1">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="faq-area">
          <div class="faq-block-main">
            {% if section.settings.list_main_title1 != '' %}
            <h3 class="faq-title">{{ section.settings.list_main_title1 }}</h3>
            {% endif %}
            <ul class="faq-block-ul" id="collapse1-{{ section.id }}">
              {% for block in section.blocks %}
              {% case block.type %}
              {% when 'accordion_area1' %}
              {% assign i = i | plus: 1 %}
              <li class="faq-block-li">
                <a href="#collapse-{{ block.id }}" class="question" data-bs-toggle="collapse" {% if i == 1 %}aria-expanded="true"{% endif %}>
                  <span class="que">{{ block.settings.accordion_title }}</span>
                  <span class="que-accordian"><i class="ri-add-line"></i></span>
                </a>
                <div class="ans-accordian collapse{% if i == 1 %} show{% endif %}" id="collapse-{{ block.id }}" data-bs-parent="#collapse1-{{ section.id }}">
                  <p>{{ block.settings.accordion_ans1 }}</p>
                </div>
              </li>
              {% endcase %}
              {% endfor %}
            </ul>
          </div>
          <div class="faq-block-main">
            <h3 class="faq-title">{{ section.settings.list_main_title2 }}</h3>
            <ul class="faq-block-ul" id="collapse2-{{ section.id }}">
              {% for block in section.blocks %}
              {% case block.type %}
              {% when 'accordion_area2' %}
              {% assign a = a | plus: 1 %}
              <li class="faq-block-li">
                <a href="#collapse2-{{ block.id }}" class="question" data-bs-toggle="collapse" {% if a == 1 %}aria-expanded="true"{% endif %}>
                  <span class="que">{{ block.settings.accordion_title }}</span>
                  <span class="que-accordian"><i class="ri-add-line"></i></span>
                </a>
                <div class="ans-accordian collapse {% if a == 1 %} show{% endif %}" id="collapse2-{{ block.id }}" data-bs-parent="#collapse2-{{ section.id }}">
                  <p>{{ block.settings.accordion_ans1 }}</p>
                </div>
              </li>
              {% endcase %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Faq seciotn 1",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#f6f6f6"
    },
    {
      "type": "text",
      "id": "list_main_title1",
      "label": "Accordion Main Title",
      "default": "Returns and exchanges"
    },
    {
      "type": "text",
      "id": "list_main_title2",
      "label": "Accordion Main Title",
      "default": "Shopping information"
    }
  ],
  "blocks": [
    {
      "type": "accordion_area1",
      "name": "Faq Accordion 1",
      "settings": [
        {
          "type": "text",
          "id": "accordion_title",
          "label": "Accordion Title",
          "info": "Type Here For Question?",
          "default": "How do I activate my account?"
        },
        {
          "type": "textarea",
          "id": "accordion_ans1",
          "label": "Answer1",
          "info": "Type Here For Answer",
          "default": "As Sample Store uses some of the latest graphics designs which may not be supported in lower version of browsers"
        }
      ]
    },
    {
      "type": "accordion_area2",
      "name": "Faq Accordion 2",
      "settings": [
        {
          "type": "text",
          "id": "accordion_title",
          "label": "Accordion Title",
          "info": "Type Here For Question?",
          "default": "How do I activate my account?"
        },
        {
          "type": "textarea",
          "id": "accordion_ans1",
          "label": "Answer1",
          "info": "Type Here For Answer",
          "default": "As Sample Store uses some of the latest graphics designs which may not be supported in lower version of browsers"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq seciotn 1",
      "category": "8. Faq Page"
    }
  ]
}
{% endschema %}
<style>
  .faq-section1 {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    background-color: {{ section.settings.section_bg_color }};
  }
  @media (max-width: 1199px) {
    .faq-section1 {
      padding-top: {{ section.settings.section_padding_top_ipad }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_ipad }}px;
    }
  }
  @media (max-width: 767px) {
    .faq-section1 {
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
  }

  .faq-section1 .faq-area {
    display: flex;
    flex-wrap: wrap;
    {% if settings.enable_rtl %}
    margin-right: -100px;
    {% else %}
    margin-left: -100px;
    {% endif %}
  }
  .faq-section1 .faq-area .faq-block-main {
    width: calc(50% - 100px);
    {% if settings.enable_rtl %}
    margin-right: 100px;
    {% else %}
    margin-left: 100px;
    {% endif %}
  }
  .faq-section1 .faq-area .faq-block-main h3.faq-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
  }
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul {
    padding-top: 53px;
  }
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li {
    padding-bottom: 26px;
    margin-bottom: 26px;
    border-bottom: 1px solid #e2e2e2;
  }
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
  }
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li a.question {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li a.question:hover,
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li a.question[aria-expanded="true"] {
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li a.question span.que-accordian i {
    color: var(--font-color-paragraph);
  }
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li a.question:hover span.que-accordian i, 
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li a.question[aria-expanded="true"] span.que-accordian i {
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li a.question[aria-expanded="true"] span.que-accordian i:before {
    content: "\F1AE";
  }
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li .ans-accordian p {
    margin-top: 6px;
  }
  .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li .ans-accordian p:first-child {
    margin-top: 20px;
  }
  @media (max-width: 1199px) {
    .faq-section1 .faq-area {
      {% if settings.enable_rtl %}
      margin-right: -50px;
      {% else %}
      margin-left: -50px;
      {% endif %}
    }
    .faq-section1 .faq-area .faq-block-main {
      width: calc(50% - 50px);
      {% if settings.enable_rtl %}
      margin-right: 50px;
      {% else %}
      margin-left: 50px;
      {% endif %}
    }
    .faq-section1 .faq-area .faq-block-main h3.faq-title {
      font-size: 19px;
    }
    .faq-section1 .faq-area .faq-block-main ul.faq-block-ul {
      padding-top: 34px;
    }
    .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li a.question {
      font-size: 16px;
    }
  }
  @media (max-width: 600px) {
    .faq-section1 .faq-area {
      {% if settings.enable_rtl %}
      margin-right: 0px;
      {% else %}
      margin-left: 0px;
      {% endif %}
    }
    .faq-section1 .faq-area .faq-block-main {
      width: calc(100% - 0px);
      {% if settings.enable_rtl %}
      margin-right: 0px;
      {% else %}
      margin-left: 0px;
      {% endif %}
      margin-top: 50px;
    }
    .faq-section1 .faq-area .faq-block-main:first-child {
      margin-top: 0px;
    }
    .faq-section1 .faq-area .faq-block-main ul.faq-block-ul {
      padding-top: 24px;
    }
    .faq-section1 .faq-area .faq-block-main ul.faq-block-ul li.faq-block-li {
      margin-bottom: 16px;
      padding-bottom: 16px;
    }
  }
</style>
