<!-- product-area start -->
<section class="product-area product-tab-ptb">
  <div class="container">
    <div class="row">
      <div class="col">
        {% if section.settings.section_title != '' %}
        <div class="section-capture tab">
          <div class="section-title">
            {% if section.settings.section_title != '' %}
            <h2>
              {{ section.settings.section_title }}
            </h2>
            {% endif %}
            <ul class="nav nav-tabs" role="tablist">
              {% for block in section.blocks %}
              {% case block.type %}
              {% when 'product_tab' %}
              {% assign category_product = collections[block.settings.tab_product] %}
              <li role="presentation">
                <a class="{% if forloop.first == true %}active show{% endif %}" role="tab" data-bs-toggle="tab" href="#tab-{{ block.id }}">{{ category_product.title }}</a>
              </li>
              {% endcase %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        <div class="outside-box tab-content tabs">
          {% for block in section.blocks %}
          {% case block.type %}
          {% when 'product_tab' %}
          {% assign category_product = collections[block.settings.tab_product] %}
          <div class="tab-pane fade{% if forloop.first == true %} active show{% endif %}" id="tab-{{ block.id }}" role="tabpanel">
            <div class="feture_pro_tab swiper-container" id="featured-{{ block.id }}">
              <div class="swiper-wrapper">
              {% assign feature_product_limit = section.settings.featured_product_limit_handle %}
              {% for product in category_product.products limit: feature_product_limit %}
              <div class="swiper-slide">
                {% render 'product-grid-item' %}
              </div>
              {% endfor %}
            </div>
            </div>
            {% if section.settings.pro_tab_button_enable %}
            <div class="tab-collection">
              <a href="{{ category_product.url }}" class="btn {% if section.settings.pro_tab_button_style == 'btn-style1' %}btn-style{% elsif section.settings.pro_tab_button_style == 'btn-style2' %}btn-style2{% else %}btn-style3{% endif %}">
                <span>{{ section.settings.pro_tab_button_text }}</span>
              </a>
            </div>
            {% endif %}
          </div>
          <script type="text/javascript">
          addEventListener('DOMContentLoaded', (event) => {
            var swiper = new Swiper('#featured-{{ block.id }}', {
              slidesPerColumn: {{ section.settings.product_col }},
              slidesPerView: {{ section.settings.slide_product_limit }},
              spaceBetween: 30,
              observer: true,
              loop: false,
              observeParents: true,
              {%- if settings.enable_rtl -%}
              rtl: true,
              {%- endif -%}
              breakpoints: {
                0: {
                  slidesPerView: 1,
                  spaceBetween: 15
                },
                479: {
                  slidesPerView: 1,
                  spaceBetween: 15
                },
                540: {
                  slidesPerView: 2,
                  spaceBetween: 15
                },
                768: {
                  slidesPerView: 3,
                  spaceBetween: 15
                },
                979: {
                  slidesPerView: 4,
                  spaceBetween: 15
                },
                1199: {
                  slidesPerView: 4,
                  spaceBetween: 20
                }
              }
            });
          });
        </script>
          {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product-area end -->

{% schema %}
{
  "name": "Swiper Tab slider",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "pro_tab_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "pro_tab_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "pro_tab_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "pro_tab_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "pro_tab_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "pro_tab_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "pro_tab_bgcolor",
      "label": "Background Color",
      "default": "#F6F6F6"
    },
    {
      "type": "checkbox",
      "id": "pro_tab_bgcolor_enable",
      "label": "Show Background Color",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Border"
    },
    {
      "type": "range",
      "id": "pro_tab_border",
      "label": "Border",
      "min": 0,
      "max": 2,
      "step": 1,
      "unit": "px",
      "default": 1
    },
    {
      "type": "color",
      "id": "pro_tab_border_color",
      "label": "Border Color",
      "default": "#E2E2E2"
    },
    {
      "type": "checkbox",
      "id": "pro_tab_border_enable",
      "label": "Show Section Border",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Trending products"
    },
    {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "select",
      "id": "product_col",
      "label": "slides Per Column",
      "options": [
        {
          "label": "1 Products",
          "value": "1"
        },
        {
          "label": "2 Products",
          "value": "2"
        },
        {
          "label": "3 Products",
          "value": "3"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "slide_product_limit",
      "label": "slides Per View",
      "options": [
        {
          "label": "2 Products",
          "value": "2"
        },
        {
          "label": "3 Products",
          "value": "3"
        },
        {
          "label": "4 Products",
          "value": "4"
        },
        {
          "label": "5 Products",
          "value": "5"
        }
      ],
      "default": "5"
    },
    {
      "type": "text",
      "id": "featured_product_limit_handle",
      "label": "Product Limit",
      "default": "12"
    },
    {
      "type": "header",
      "content": "Button Style"
    },
    {
      "type": "text",
      "id": "pro_tab_button_text",
      "label": "Button Text",
      "default": "See more"
    },
    {
      "type": "select",
      "id": "pro_tab_button_style",
      "label": "Button Style",
      "options": [
        {
          "label": "Button Style1",
          "value": "btn-style1"
        },
        {
          "label": "Button Style2",
          "value": "btn-style2"
        },
        {
          "label": "Button Style3",
          "value": "btn-style3"
        }
      ],
      "default": "btn-style2"
    },
    {
      "type": "checkbox",
      "id": "pro_tab_button_enable",
      "label": "Show Collection Button",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "product_tab",
      "name": "Our Product",
      "limit": 8,
      "settings": [
        {
          "type": "collection",
          "id": "tab_product",
          "label": "Tab With Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Swiper Tab Slider",
      "category": "Product Tab Slider"
    }
  ]
}
{% endschema %}
<style>
  .product-tab-ptb {
    overflow-x: hidden;
    padding-top: {{ section.settings.pro_tab_padding_top }}px;
    padding-bottom: {{ section.settings.pro_tab_padding_bottom }}px;
    {% if section.settings.pro_tab_bgcolor_enable %}
    background-color: {{ section.settings.pro_tab_bgcolor }};
    {% endif %}
    {% if section.settings.pro_tab_border_enable %}
    border-top: {{ section.settings.pro_tab_border }}px solid {{ section.settings.pro_tab_border_color }};
    {% endif %}
  }
  @media (max-width: 1199px){
    .product-tab-ptb {
      padding-top: {{ section.settings.pro_tab_padding_top_ip }}px;
      padding-bottom: {{ section.settings.pro_tab_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px){
    .product-tab-ptb {
      padding-top: {{ section.settings.pro_tab_padding_top_xs }}px;
      padding-bottom: {{ section.settings.pro_tab_padding_bottom_xs }}px;
    }
  }
  .product-area .outside-box {
    margin-left: -320px;
    margin-right: -320px;
  }
  @media (max-width: 1599px){
    .product-area .outside-box {
      margin-left: -100px;
      margin-right: -100px;
    }
  }
  @media (max-width: 1199px){
    .product-area .outside-box {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .product-area .section-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media(max-width: 767px){
    .product-area .section-title{
      flex-direction: column;
    }
  }

  {% if section.settings.pro_tab_button_enable %}
  /* view button collection css */
  .tab-collection {
    margin-top: {{ section.settings.pro_tab_padding_top }}px;
    text-align: center;
  }
  .tab-collection a.btn span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tab-collection a.btn span i{
    font-size: 18px;
    line-height: 1;
    {%- if settings.enable_rtl -%}
    padding-right: 5px;
    {%- else -%}
    padding-left: 5px;
    {%- endif -%}
  }
  @media (max-width: 1199px) {
    .tab-collection {
      margin-top: {{ section.settings.pro_tab_padding_top_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .tab-collection {
      margin-top: {{ section.settings.pro_tab_padding_top_xs }}px;
    }
  }
  {% endif %}
</style>
