<footer class="footer-area" {% if section.settings.section_bg_image_enable %}style="background-image: url('{% if section.settings.section_bg_image %}{{ section.settings.section_bg_image | image_url }}{% else %}https://dummyimage.com/1920x520/f7f7f7/999999{% endif %}');"{% endif %} data-section-id="{{ section.id }}">
  <div class="footer-main-area">
    <div class="container">
      <div class="footer-list-wrap">
        <ul class="footer-list">
          {% for block in section.blocks %}
          {%- assign row_width = row_width | plus: block.settings.container_width -%}
          {%- case block.type -%}
          {%- when 'logo_info' -%}
          {%- assign text_align = block.settings.text_align -%}
          {%- assign text_lg_align = block.settings.text_lg_align -%}
          <li class="ftlink-li logo-info {{ text_align }} {{ text_lg_align }} width-{{ block.id }}">
            <div class="footer-info">
              {% if block.settings.logo_enable %}
              {%- render 'company-logo-footer' -%}
              {% endif %}
              {% if block.settings.text != '' %}
              <div class="rich-text">{{ block.settings.text }}</div>
              {% endif %}
              {% if block.settings.social_enable %}
              <div class="footer-social">
                <ul class="f-social-ul">
                  {% if block.settings.social_1_text != '' %}
                  <li class="f-social-li">
                    <a href="{{ block.settings.social_1_url }}"><i class="{{ block.settings.social_1_text }}"></i></a>
                  </li>
                  {% endif %}
                  {% if block.settings.social_2_text != '' %}
                  <li class="f-social-li">
                    <a href="{{ block.settings.social_2_url }}"><i class="{{ block.settings.social_2_text }}"></i></a>
                  </li>
                  {% endif %}
                  {% if block.settings.social_3_text != '' %}
                  <li class="f-social-li">
                    <a href="{{ block.settings.social_3_url }}"><i class="{{ block.settings.social_3_text }}"></i></a>
                  </li>
                  {% endif %}
                  {% if block.settings.social_4_text != '' %}
                  <li class="f-social-li">
                    <a href="{{ block.settings.social_4_url }}"><i class="{{ block.settings.social_4_text }}"></i></a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              {% endif %}
              {% if block.settings.payment_enable %}
              {%- render 'payment-icon' -%}
              {% endif %}
            </div>
            {%- style -%}
            .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
              width: calc({{ block.settings.container_width }}% - 30px);
            }
            {%- endstyle -%}
          </li>
          {%- when 'footer_menu' -%}
          {%- assign text_align = block.settings.text_align -%}
          {%- assign text_lg_align = block.settings.text_lg_align -%}
          <li class="ftlink-li link-list {{ text_align }} {{ text_lg_align }} width-{{ block.id }}">
            {% assign footer_menu = block.settings.footer_menu_handle %}
            {%- if block.settings.show_nav_title -%}
            <h2 class="ft-title md-d-none">{{ linklists[footer_menu].title }}</h2>
            <a data-bs-toggle="collapse" href="#collapse-{{ linklists[footer_menu].title | handleize }}" class="ft-title">
              <span>{{ linklists[footer_menu].title }}</span>
              <i class="ri-add-line"></i>
            </a>
            {%- endif -%}
            <ul class="{% if block.settings.show_nav_title %}collapse {% endif %} footer-sublist link" id="{%- if block.settings.show_nav_title -%}collapse-{{ linklists[footer_menu].title | handleize }}{%- endif -%}">
              {% assign footer_menu = block.settings.footer_menu_handle %}
              {% for link in linklists[footer_menu].links %}
              {% if linklists[footer_menu].links != '' %}
              <li class="ftsublink-li">
                <a href="{{ link.url }}" class="ft-sublink">{{ link.title }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            {% if block.settings.text != '' %}
            <div class="rich-text">{{ block.settings.text }}</div>
            {% endif %}
            {%- style -%}
            .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
              width: calc({{ block.settings.container_width }}% - 30px);
            }
            {%- endstyle -%}
          </li>
          {%- when 'custom_text' -%}
          {%- assign text_align = block.settings.text_align -%}
          {%- assign text_lg_align = block.settings.text_lg_align -%}
          <li class="ftlink-li custom-text {{ text_align }} {{ text_lg_align }} width-{{ block.id }}">
            {% if block.settings.heading1 != '' %}
            <h2 class="ft-title">{{ block.settings.heading1 }}</h2>
            {% endif %}
            <div class="rich-text">
              <ul class="info-ul">
                {% if block.settings.custom_text_1 != '' %}
                <li class="info-li">
                  {{ block.settings.custom_text_1 }}
                </li>
                {% endif %}
                {% if block.settings.custom_text_2 != '' %}
                <li class="info-li">
                  {{ block.settings.custom_text_2 }}
                </li>
                {% endif %}
                {% if block.settings.custom_text_3 != '' %}
                <li class="info-li">
                  {{ block.settings.custom_text_3 }}
                </li>
                {% endif %}
                {% if block.settings.custom_text_4 != '' %}
                <li class="info-li">
                  {{ block.settings.custom_text_4 }}
                </li>
                {% endif %}
              </ul>
            </div>
            {%- style -%}
            .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
              width: calc({{ block.settings.container_width }}% - 30px);

            }
            {%- endstyle -%}
          </li>
          {%- when 'newsletter' -%}
          {%- assign text_align = block.settings.text_align -%}
          {%- assign text_lg_align = block.settings.text_lg_align -%}
          <li class="ftlink-li newsletter {{ text_align }} {{ text_lg_align }} width-{{ block.id }}">
            <div class="news-content">
              {% if block.settings.newsletter_title != '' %}
              <h2 class="ft-title">
                {{ block.settings.newsletter_title }}
              </h2>
              {% endif %}
              {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
              <p class="text-success">
                <span>{{ 'general.newsletter_form.confirmation' | t }}</span>
              </p>
              {% endif %}
              <div class="news-wrap">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email" name="contact[email]" class="email mail" id="E-mail" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocapitalize="off" required>
                <button type="submit" name="commit" id="Subscribe">
                  {{ 'general.newsletter_form.submit' | t }}
                </button>
              </div>
              {% endform %}
            </div>
            {% if block.settings.text != '' %}
            <div class="rich-text">{{ block.settings.text }}</div>
            {% endif %}
            {%- style -%}
            .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
              width: calc({{ block.settings.container_width }}% - 30px);
            }
            {%- endstyle -%}
          </li>
          {%- when 'instagram_block' -%}
          {%- assign text_align = block.settings.text_align -%}
          {%- assign text_lg_align = block.settings.text_lg_align -%}
          <li class="ftlink-li insta-wrap {{ text_align }} {{ text_lg_align }} width-{{ block.id }}">
              {% if block.settings.heading != '' %}
              <h2 class="ft-title">{{ block.settings.heading }}</h2>
              {% endif %}
              <div class="insta-block">
                <a class="img-content" href="{{ block.settings.insta_url1 }}">
                  <img width="{{ block.settings.insta_img1.width }}" height="{{ block.settings.insta_img1.height }}" class="img-fluid" src="{% if block.settings.insta_img1 %}{{ block.settings.insta_img1 | image_url: width: 80, height: 80, crop: 'center' }}{% else %}https://dummyimage.com/150x150/f7f7f7/999999{% endif %}" alt="">
                </a>
                <a class="img-content" href="{{ block.settings.insta_url2 }}">
                  <img width="{{ block.settings.insta_img2.width }}" height="{{ block.settings.insta_img2.height }}" class="img-fluid" src="{% if block.settings.insta_img2 %}{{ block.settings.insta_img2 | image_url: width: 80, height: 80, crop: 'center' }}{% else %}https://dummyimage.com/150x150/f7f7f7/999999{% endif %}" alt="">
                </a>
                <a class="img-content" href="{{ block.settings.insta_url3 }}">
                  <img width="{{ block.settings.insta_img3.width }}" height="{{ block.settings.insta_img3.height }}" class="img-fluid" src="{% if block.settings.insta_img3 %}{{ block.settings.insta_img3 | image_url: width: 80, height: 80, crop: 'center' }}{% else %}https://dummyimage.com/150x150/f7f7f7/999999{% endif %}" alt="">
                </a>
                <a class="img-content" href="{{ block.settings.insta_url4 }}">
                  <img width="{{ block.settings.insta_img4.width }}" height="{{ block.settings.insta_img4.height }}" class="img-fluid" src="{% if block.settings.insta_img4 %}{{ block.settings.insta_img4 | image_url: width: 80, height: 80, crop: 'center' }}{% else %}https://dummyimage.com/150x150/f7f7f7/999999{% endif %}" alt="">
                </a>
                <a class="img-content" href="{{ block.settings.insta_url5 }}">
                  <img width="{{ block.settings.insta_img5.width }}" height="{{ block.settings.insta_img5.height }}" class="img-fluid" src="{% if block.settings.insta_img5 %}{{ block.settings.insta_img5 | image_url: width: 80, height: 80, crop: 'center' }}{% else %}https://dummyimage.com/150x150/f7f7f7/999999{% endif %}" alt="">
                </a>
                <a class="img-content" href="{{ block.settings.insta_url6 }}">
                  <img width="{{ block.settings.insta_img6.width }}" height="{{ block.settings.insta_img6.height }}" class="img-fluid" src="{% if block.settings.insta_img6 %}{{ block.settings.insta_img6 | image_url: width: 80, height: 80, crop: 'center' }}{% else %}https://dummyimage.com/150x150/f7f7f7/999999{% endif %}" alt="">
                </a>
              </div>
              {% if block.settings.text != '' %}
              <div class="rich-text">{{ block.settings.text }}</div>
              {% endif %}
            {%- style -%}
            .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
              width: calc({{ block.settings.container_width }}% - 30px);
            }
            {%- endstyle -%}
          </li>

          {%- endcase -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    {% if section.settings.footer_copyright_enable %}
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="copyright-block">
              {% if section.settings.copyright_text != '' %}
              <div class="copy-text">
                {{ section.settings.copyright_text }}
              </div>
              {% endif %}
              <div class="copy-social">
                {% render 'social-midea' %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "foot_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "foot_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "foot_padding_top_ipad",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "foot_padding_bottom_ipad",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "foot_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "foot_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Image"
    },
    {
      "type": "image_picker",
      "id": "section_bg_image",
      "label": "Image",
      "info": "Recommended Size: 1920 x 520px"
    },
    {
      "type": "checkbox",
      "id": "section_bg_image_enable",
      "label": "Show Background Image",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "checkbox",
      "id": "section_bg_color_enable",
      "label": "Show Background Color",
      "default": false
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#f3f0fd"
    },
    {
      "type": "header",
      "content": "Section Gradient Color"
    },
    {
      "type": "checkbox",
      "id": "section_gradient_bg_color_enable",
      "label": "Show Background Image",
      "default": true
    },
    {
      "type": "color",
      "id": "section_gradient_bg_color_1",
      "label": "Gradient Color 1",
      "default": "#f3f0fd"
    },
    {
      "type": "color",
      "id": "section_gradient_bg_color_2",
      "label": "Gradient Color 2",
      "default": "#fcf5ee"
    },
    {
      "type": "color",
      "id": "section_gradient_bg_color_3",
      "label": "Gradient Color 3",
      "default": "#fdf1fd"
    },
    {
      "type": "header",
      "content": "Text Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#f2f0ed"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#333"
    },
    {
      "type": "header",
      "content": "Footer Copyright"
    },
    {
      "type": "checkbox",
      "id": "footer_copyright_enable",
      "label": "Show Footer Copyright",
      "default": true
    },
    {
      "type": "richtext",
      "id": "copyright_text",
      "label": "Text",
      "info": "Optional"
    }
  ],
  "blocks": [
    {
      "type": "logo_info",
      "name": "Logo information",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "text_lg_align",
          "label": "Select text align",
          "options": [
            {
              "value": "text-lg-start",
              "label": "Text lg start"
            },
            {
              "value": "text-lg-center",
              "label": "Text lg center"
            },
            {
              "value": "text-lg-end",
              "label": "Text lg end"
            }
          ],
          "default": "text-lg-center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Select text align mobile",
          "options": [
            {
              "value": "text-start",
              "label": "Text start"
            },
            {
              "value": "text-center",
              "label": "Text center"
            },
            {
              "value": "text-end",
              "label": "Text end"
            }
          ],
          "default": "text-start"
        },
        {
          "type": "checkbox",
          "id": "logo_enable",
          "label": "Show logo",
          "default": true
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading",
          "default": "Social"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Optional"
        },
        {
          "type": "checkbox",
          "id": "payment_enable",
          "label": "Show payment icon",
          "default": false
        },
        {
          "type": "header",
          "content": "Social Media"
        },
        {
          "type": "checkbox",
          "id": "social_enable",
          "label": "Show social icon",
          "default": true
        },
        {
          "type": "header",
          "content": "Social Media 1"
        },
        {
          "type": "text",
          "id": "social_1_text",
          "label": "Icon Class",
          "default": "ri-facebook-fill"
        },
        {
          "type": "url",
          "id": "social_1_url",
          "label": "url"
        },
        {
          "type": "header",
          "content": "Social Media 2"
        },
        {
          "type": "text",
          "id": "social_2_text",
          "label": "Icon Class",
          "default": "ri-twitter-fill"
        },
        {
          "type": "url",
          "id": "social_2_url",
          "label": "url"
        },
        {
          "type": "header",
          "content": "Social Media 3"
        },
        {
          "type": "text",
          "id": "social_3_text",
          "label": "Icon Class",
          "default": "ri-dribbble-fill"
        },
        {
          "type": "url",
          "id": "social_3_url",
          "label": "url"
        },
        {
          "type": "header",
          "content": "Social Media 4"
        },
        {
          "type": "text",
          "id": "social_4_text",
          "label": "Icon Class",
          "default": "ri-linkedin-fill"
        },
        {
          "type": "url",
          "id": "social_4_url",
          "label": "url"
        }
      ]
    },
    {
      "type": "footer_menu",
      "name": "Navigation",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "text_lg_align",
          "label": "Select text align",
          "options": [
            {
              "value": "text-lg-start",
              "label": "Text lg start"
            },
            {
              "value": "text-lg-center",
              "label": "Text lg center"
            },
            {
              "value": "text-lg-end",
              "label": "Text lg end"
            }
          ],
          "default": "text-lg-center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Select text align mobile",
          "options": [
            {
              "value": "text-start",
              "label": "Text start"
            },
            {
              "value": "text-center",
              "label": "Text center"
            },
            {
              "value": "text-end",
              "label": "Text end"
            }
          ],
          "default": "text-start"
        },
        {
          "type": "checkbox",
          "id": "show_nav_title",
          "label": "Show heading",
          "default": true
        },
        {
          "type": "link_list",
          "id": "footer_menu_handle",
          "label": "Select Menu"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Optional"
        }
      ]
    },
    {
      "type": "custom_text",
      "name": "Custom text",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "text_lg_align",
          "label": "Select text align",
          "options": [
            {
              "value": "text-lg-start",
              "label": "Text lg start"
            },
            {
              "value": "text-lg-center",
              "label": "Text lg center"
            },
            {
              "value": "text-lg-end",
              "label": "Text lg end"
            }
          ],
          "default": "text-lg-center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Select text align mobile",
          "options": [
            {
              "value": "text-start",
              "label": "Text start"
            },
            {
              "value": "text-center",
              "label": "Text center"
            },
            {
              "value": "text-end",
              "label": "Text end"
            }
          ],
          "default": "text-start"
        },
        {
          "type": "text",
          "id": "heading1",
          "label": "Heading",
          "default": "Payment"
        },
        {
          "type": "header",
          "content": "Text 1"
        },
        {
          "type": "richtext",
          "id": "custom_text_1",
          "label": "Custom Text 1"
        },
        {
          "type": "header",
          "content": "Text 2"
        },
        {
          "type": "richtext",
          "id": "custom_text_2",
          "label": "Custom Text 2"
        },
        {
          "type": "header",
          "content": "Text 3"
        },
        {
          "type": "richtext",
          "id": "custom_text_3",
          "label": "Custom Text 3"
        },
        {
          "type": "header",
          "content": "Text 4"
        },
        {
          "type": "richtext",
          "id": "custom_text_4",
          "label": "Custom Text 4"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "text_lg_align",
          "label": "Select text align",
          "options": [
            {
              "value": "text-lg-start",
              "label": "Text lg start"
            },
            {
              "value": "text-lg-center",
              "label": "Text lg center"
            },
            {
              "value": "text-lg-end",
              "label": "Text lg end"
            }
          ],
          "default": "text-lg-center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Select text align mobile",
          "options": [
            {
              "value": "text-start",
              "label": "Text start"
            },
            {
              "value": "text-center",
              "label": "Text center"
            },
            {
              "value": "text-end",
              "label": "Text end"
            }
          ],
          "default": "text-start"
        },
        {
          "type": "header",
          "content": "Newsletter"
        },
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "Newsletter Title",
          "default": "join our newsletter"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Optional",
          "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
        }
      ]
    },
    {
      "type": "instagram_block",
      "name": "Instagram block",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "text_lg_align",
          "label": "Select text align",
          "options": [
            {
              "value": "text-lg-start",
              "label": "Text lg start"
            },
            {
              "value": "text-lg-center",
              "label": "Text lg center"
            },
            {
              "value": "text-lg-end",
              "label": "Text lg end"
            }
          ],
          "default": "text-lg-center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Select text align mobile",
          "options": [
            {
              "value": "text-start",
              "label": "Text start"
            },
            {
              "value": "text-center",
              "label": "Text center"
            },
            {
              "value": "text-end",
              "label": "Text end"
            }
          ],
          "default": "text-start"
        },
        {
          "type": "header",
          "content": "Instagram"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Follow us Instagram"
        },
        {
          "type": "url",
          "id": "insta_url1",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img1",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url2",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img2",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url3",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img3",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url4",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img4",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url5",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img5",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url6",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img6",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
<style>
  :root {
    --color-text: {{ section.settings.text_color }};
    --color-heading: {{ section.settings.heading_color }};
  }
  .footer-area{
    position: relative;
    {% if section.settings.section_bg_image_enable %}
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    {% endif %}
    {% if section.settings.section_bg_color_enable %}
    background-color: {{ section.settings.section_bg_color }};
    {% endif %}
    {% if section.settings.section_gradient_bg_color_enable %}
    background: linear-gradient(45deg, {{ section.settings.section_gradient_bg_color_1 }} 0%, {{ section.settings.section_gradient_bg_color_2 }} 50%, {{ section.settings.section_gradient_bg_color_3 }} 100%);
    {% endif %}
  }
  .footer-area .footer-main-area .footer-list-wrap {
    position: relative;
    padding-top: {{ section.settings.foot_padding_top }}px;
    padding-bottom: {{ section.settings.foot_padding_bottom }}px;
  }
  @media (max-width: 1199px){
    .footer-area .footer-main-area .footer-list-wrap {
      padding-top: {{ section.settings.foot_padding_top_ipad }}px;
      padding-bottom: {{ section.settings.foot_padding_bottom_ipad }}px;
    }
  }
  @media (max-width: 767px){
    .footer-area .footer-main-area .footer-list-wrap {
      padding-top: {{ section.settings.foot_padding_top_xs }}px;
      padding-bottom: {{ section.settings.foot_padding_bottom_xs }}px;
    }
  }

  .footer-list-wrap ul.footer-list{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    {% if settings.enable_rtl %}
    margin-right: -30px;
    {% else %}
    margin-left: -30px;
    {% endif %}
    margin-top: -100px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li{
    {% if settings.enable_rtl %}
    margin-right: 30px;
    {% else %}
    margin-left: 30px;
    {% endif %}
    margin-top: 100px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .ft-title{
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title{
    display: none;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist.collapse:not(.show){
    display: block;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li{
    margin-top: 20px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li:first-child{
    margin-top: 31px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a{
    color: var(--color-text);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a:hover{
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/*logo info css */
.footer-list-wrap ul.footer-list li.ftlink-li.logo-info .footer-logo {
  padding-bottom: 32px;
}
/*social icon*/
.footer-list-wrap ul.footer-list li.ftlink-li.logo-info .footer-info .footer-social ul.f-social-ul {
  display: flex;
  align-items: center;
}
.footer-list-wrap ul.footer-list li.ftlink-li.logo-info .footer-info .footer-social ul.f-social-ul li.f-social-li {
  {% if settings.enable_rtl %}
  margin-right: 15px;
  {% else %}
  margin-left: 15px;
  {% endif %}
}
.footer-list-wrap ul.footer-list li.ftlink-li.logo-info .footer-info .footer-social ul.f-social-ul li.f-social-li:first-child {
  {% if settings.enable_rtl %}
  margin-right: 0px;
  {% else %}
  margin-left: 0px;
  {% endif %}
}
.footer-list-wrap ul.footer-list li.ftlink-li.logo-info .footer-info .footer-social ul.f-social-ul li.f-social-li a {
  color: var(--color-text);
  font-size: 16px;
}

/*richtext*/
.footer-list-wrap .rich-text a,
.footer-list-wrap .rich-text p{
  color: var(--color-text);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 80%;
}
.footer-list-wrap .rich-text a:hover{
  color: var(--color-primary);
}

/* custom text */
.footer-list-wrap li.custom-text {
  padding-top: 0px;
  background-color: transparent;
}
.footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}
.footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li:first-child {
  margin-top: 31px;
}
.footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li p,
.footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li a {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li a:hover {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* newsletter */
.footer-list-wrap .news-content {
  display: flex;
  align-items: center;
}
.footer-list-wrap ul.footer-list li.ftlink-li .news-content .ft-title{
  font-size: 24px;
  padding-bottom: 0;
  {%- if settings.enable_rtl -%}
  padding-left: 60px;
  {%- else -%}
  padding-right: 60px;
  {%- endif -%}
}
.footer-list-wrap .news-content form{
  width: 100%;
}
.footer-list-wrap .news-content .news-wrap {
  display: flex;
  position: relative;
}
.footer-list-wrap .news-content .news-wrap input{
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,10%);
}
.footer-list-wrap .news-content .news-wrap button{
  color: var(--font-color-primary);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  {% if settings.enable_rtl %}
  left: 0;
  {% else %}
  right: 0;
  {% endif %}
}
.footer-list-wrap .news-content .news-wrap button:hover{
  color: var(--font-color-secondary);
}
/* isntagram */
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block{
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  {% if settings.enable_rtl %}
  margin-right: -15px;
  {% else %}
  margin-left: -15px;
  {% endif %}
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a{
  width: calc(33.33% - 15px);
  margin-top: 15px;
  {% if settings.enable_rtl %}
  margin-right: 15px;
  {% else %}
  margin-left: 15px;
  {% endif %}
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: visible;
  background-color: {{ settings.color_primary }};
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:before{
  content: "\ee66";
  color: #fff;
  font-size: 18px;
  line-height: 1;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  font-family: 'remixicon' !important;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:hover:before{
  opacity: 1;
  visibility: visible;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:hover:after{
  opacity: .5;
  visibility: visible;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:hover:before,
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:before,
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:after,
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:hover:after{
  -webkit-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a img{
  width: 100%;
}

@media (max-width: 1280px) {
  .footer-list-wrap .rich-text a,
  .footer-list-wrap .rich-text p{
    width: 100%;
  }
}
@media (max-width: 1199px){
  /*richtext*/
  .footer-list-wrap .rich-text a,
  .footer-list-wrap .rich-text p {
    font-size: 16px;
  }
  .footer-list-wrap ul.footer-list {
    margin-top: -60px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li{
    margin-top: 60px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .ft-title{
    font-size: 18px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .news-content .ft-title{
    font-size: 16px;
    {%- if settings.enable_rtl -%}
    padding-left: 30px;
    {%- else -%}
    padding-right: 30px;
    {%- endif -%}
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a {
    font-size: 16px;
  }
  /* custom text */
  .footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li p,
  .footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li a {
    font-size: 16px;
  }
}
@media (max-width: 991px){
  .footer-list-wrap ul.footer-list{
    margin-top: -15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li{
    margin-top: 15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li{
    width: calc(100% - 30px);
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.logo-info,
  .footer-list-wrap ul.footer-list li.ftlink-li.custom-text {
    width: calc(50% - 30px);
    order: -1;
    margin-bottom: 15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(184 159 123 / 20%);
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title[aria-expanded="true"] i:before{
    content: "\f1af";
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li{
    margin-top: 11px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li:first-child{
    margin-top: 15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a {
    font-size: 14px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist.collapse:not(.show){
    display: none;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .ft-title{
    font-size: 16px;
  }
  .footer-list-wrap .rich-text p,
  .footer-list-wrap .rich-text a {
    font-size: 14px;
    line-height: 25px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .ft-title.md-d-none{
    display: none;
  }
  .footer-list-wrap .news-content{
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.newsletter .ft-title{
    {% if settings.enable_rtl %}
    padding-left: 0;
    {% else %}
    padding-right: 0;
    {% endif %}
    padding-bottom: 15px;
  }
  .footer-list-wrap .news-content .news-wrap input{
    min-width: 100%;
    font-size: 12px;
    padding-bottom: 15px;
  }
  .footer-list-wrap .news-content .news-wrap input::placeholder{
    font-size: 13px;
  }
  .footer-list-wrap .news-content .news-wrap button{
    font-size: 14px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.logo-info .footer-logo{
    padding-bottom: 15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a{
    width: auto;
  }
  /* custom text */
  .footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li {
    margin-top: 8px;
  }
  .footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li:first-child {
    margin-top: 14px;
  }
  .footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li i {
    min-width: 30px;
  }
  .footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li p,
  .footer-list-wrap li.custom-text .rich-text ul.info-ul li.info-li a {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  .footer-list-wrap ul.footer-list li.ftlink-li.logo-info,
  .footer-list-wrap ul.footer-list li.ftlink-li.custom-text {
    width: calc(100% - 30px);
  }
}

/* copyright css */
.footer-area .footer-main-area .footer-copyright .copyright-block {
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e7e1dd;
}
.footer-area .footer-main-area .footer-copyright .copyright-block .copy-text {
  width: 50%;
}
.footer-area .footer-main-area .footer-copyright .copyright-block .copy-text p {
  font-size: 18px;
}
.footer-area .footer-main-area .footer-copyright .copyright-block .copy-social {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-area .footer-main-area .footer-copyright .copyright-block .copy-social .social ul.social-icon li {
  {%- if settings.enable_rtl -%}
  margin-right: 30px;
  {%- else -%}
  margin-left: 30px;
  {%- endif -%}
}
.footer-area .footer-main-area .footer-copyright .copyright-block .copy-social .social ul.social-icon li:first-child {
  {%- if settings.enable_rtl -%}
  margin-right: 0px;
  {%- else -%}
  margin-left: 0px;
  {%- endif -%}
}
@media (max-width: 991px) {
  .footer-area .footer-main-area .footer-copyright .copyright-block .copy-text p {
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  .footer-area .footer-main-area .footer-copyright .copyright-block {
    justify-content: center;
  }
  .footer-area .footer-main-area .footer-copyright .copyright-block .copy-text {
    width: 100%;
  }
  .footer-area .footer-main-area .footer-copyright .copyright-block .copy-social {
    width: 100%;
    margin-top: 12px;
    justify-content: center;
  }
}
</style>
