<section class="item-feature" {% if section.settings.section_bg_image_enable %}style="background-image: url('{% if section.settings.section_bg_image %}{{ section.settings.section_bg_image | image_url }}{% else %}https://dummyimage.com/1920x800{% endif %}');"{% endif %}>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section-capture">
					<div class="section-title">
						{% if section.settings.section_title != '' %}
						<h2>{{ section.settings.section_title }}</h2>
						{% endif %}
						{% if section.settings.item_feature_desc != '' %}
						<span class="desc">{{ section.settings.item_feature_desc }}</span>
						{% endif %}
					</div>
				</div>
                <div class="item-feature-info">
                    <ul class="feature-info-ul">
                        {% for block in section.blocks %}
                        <li class="feature-info-li">
                            {% if block.settings.feature_icon != '' %}
                            <div class="info-icon">
                                <a href="{{ block.settings.item_url }}"><i class="{{ block.settings.item_icon }}"></i></a>
                            </div>
                            {% endif %}
                            <div class="feature-text">
                                {% if block.settings.feature_title != '' %}
                                <span class="title">{{ block.settings.feature_title }}</span>
                                {% endif %}
                                {% if block.settings.feature_counter_number != '' %}
                                <h4 class="count-number">{{ block.settings.feature_counter_number }}</h4>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
			</div>
		</div>
	</div>
</section>
{% schema %}
{
  "name": "Item Feature",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 20
    },
    {
      "type": "header",
      "content": "Section Background Image"
    },
    {
      "type": "checkbox",
      "id": "section_bg_image_enable",
      "label": "Show Background Image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "section_bg_image",
      "label": "Section Background Image",
      "info": "Recommended Size: 1920px x 800px"
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "checkbox",
      "id": "section_bg_color_enable",
      "label": "Show Background Image",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section Title"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "best features"
    },
    {
      "type": "text",
      "id": "item_feature_desc",
      "label": "Section Description",
      "default": "The evolution of flight has arrived. budo is a compact folding unit designed to go wherever your adventure takes you."
    }
  ],
  "blocks": [
    {
      "type": "item_feature",
      "name": "Item Feature",
      "limit": 4,
      "settings": [
        {
          "type": "header",
          "content": "Item Icon"
        },
        {
          "type": "text",
          "id": "item_icon",
          "label": "icon Class",
          "default": "feather-camera"
        },
        {
          "type": "url",
          "id": "item_url",
          "label": "Item url"
        },
        {
          "type": "header",
          "content": "Item Text"
        },
        {
          "type": "text",
          "id": "feature_title",
          "label": "Title",
          "default": "Camera quality"
        },
        {
          "type": "text",
          "id": "feature_counter_number",
          "label": "Counter Number",
          "default": "155"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Item Feature",
      "category": "Item Feature"
    }
  ]
}
{% endschema %}
<style>
.item-feature {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    {% if section.settings.section_bg_image_enable %}
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    {% endif %}
    {% if section.settings.section_bg_color_enable %}
    background-color: {{ section.settings.section_bg_color }};
    {% endif %}
}
@media(max-width: 1199px){
    .item-feature {
      padding-top: {{ section.settings.section_padding_top_ip }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_ip }}px;
    }
}
@media(max-width: 767px){
    .item-feature {
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
}

.item-feature .item-feature-info ul.feature-info-ul {   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}   
.item-feature .item-feature-info ul.feature-info-ul li.feature-info-li {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .info-icon a {
    background-color: #ffffff;
    color: var(--font-color-primary);
    font-size: 28px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 2%);
}
.item-feature .item-feature-info ul.feature-info-ul li.feature-info-li:hover .info-icon a {
    background-color: var(--font-color-primary);
    color: #ffffff;
}
.item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .feature-text {
    margin-top: 26px;
}
.item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .feature-text span.title {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}
.item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .feature-text h4.count-number {
    font-size: 28px;
    margin-top: 12px;
    font-weight: 700;
    line-height: 1;
    font-style: italic;
}
@media (max-width: 1199px) {
    .item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .info-icon a {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }
    .item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .feature-text span.title {
        font-size: 16px;
    }
    .item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .feature-text h4.count-number {
        font-size: 20px;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .item-feature .item-feature-info ul.feature-info-ul {
        margin-top: -30px;
    }
    .item-feature .item-feature-info ul.feature-info-ul li.feature-info-li {
        width: 50%;
        margin-top: 30px;
    }
    .item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .info-icon a {
        width: 60px;
        height: 60px;
        font-size: 18px;
    }
    .item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .feature-text {
        margin-top: 17px;
    }
    .item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .feature-text span.title {
        font-size: 14px;
    }
    .item-feature .item-feature-info ul.feature-info-ul li.feature-info-li .feature-text h4.count-number {
        font-size: 16px;
    }

}
</style>