<section class="new-category collection-category-{{ section.id }}">
  <div class="container">
    <div class="section-capture">
      <div class="section-title">
        {% if section.settings.section_new_title != '' %}
        <h2>
          {{ section.settings.section_new_title }}
        </h2>
        {% endif %}
        <div class="swiper-arrow">
          <div class="swiper-button swiper-button-prev-{{ section.id }}"><i class="ri-arrow-left-line"></i></div>
          <div class="swiper-button swiper-button-next-{{ section.id }}"><i class="ri-arrow-right-line"></i></div>
        </div>
      </div>
    </div>
    <div class="outside-box">
      {% assign category_product = collections[section.settings.new_label_product] %}
      <div class="swiper-container" id="featured-{{ block.id }}">
        <div class="swiper-wrapper">
          {% assign category_product_limit = section.settings.category_new_product_limit_handle %}
          {% for product in category_product.products limit: category_product_limit %}
          <div class="swiper-slide">
            {% render 'product-grid-item' %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% if section.settings.view_all_button != '' %}
        <div class="view-all-collection">
          <a href="{{ section.settings.view_all_button_url }}" class="btn btn-style">{{ section.settings.view_all_button }}</a>
        </div>
        {% endif %}
    </div>
  </div>
</section>
<script>
addEventListener('DOMContentLoaded', (event) => {
  var swiper = new Swiper('#featured-{{ block.id }}', {
    slidesPerColumn: {{ section.settings.product_col }},
    slidesPerView: {{ section.settings.slide_product_limit }},
    spaceBetween: 30,
    observer: true,
    loop: true,
    observeParents: true,
    {%- if settings.enable_rtl -%}
    rtl: true,
    {%- endif -%}
    navigation: {
      nextEl: '.swiper-button-next-{{ section.id }}',
      prevEl: '.swiper-button-prev-{{ section.id }}',
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
        spaceBetween: 15
      },
      479: {
        slidesPerView: 1,
        spaceBetween: 15
      },
      540: {
        slidesPerView: 2,
        spaceBetween: 15
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 15
      },
      979: {
        slidesPerView: 4,
        spaceBetween: 15
      },
      1199: {
        slidesPerView: 4,
        spaceBetween: 20
      }
    }
  });
});
</script>

{% schema %}
{
  "name": "New Product",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "category_new_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "category_new_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "category_new_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "category_new_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "category_new_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "category_new_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "section_bgcolor",
      "label": "Background Color",
      "default": "#f8f6f7"
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "section_new_title",
      "label": "Title",
      "default": "New products"
    },
    {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "select",
      "id": "product_col",
      "label": "slides Per Column",
      "options": [
        {
          "label": "1 Products",
          "value": "1"
        },
        {
          "label": "2 Products",
          "value": "2"
        },
        {
          "label": "3 Products",
          "value": "3"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "slide_product_limit",
      "label": "slides Per View",
      "options": [
        {
          "label": "2 Products",
          "value": "2"
        },
        {
          "label": "3 Products",
          "value": "3"
        },
        {
          "label": "4 Products",
          "value": "4"
        },
        {
          "label": "5 Products",
          "value": "5"
        }
      ],
      "default": "5"
    },
    {
      "type": "text",
      "id": "category_new_product_limit_handle",
      "label": "Product Limit",
      "default": "10"
    },
    {
      "type": "collection",
      "id": "new_label_product",
      "label": "Select Collection"
    },
    {
      "type": "header",
      "content": "Product"
    },
    {
      "type": "header",
      "content": "View all collections"
    },
    {
      "type": "text",
      "id": "view_all_button",
      "label": "Button Text",
      "default": "Explor collecion"
    },
    {
      "type": "url",
      "id": "view_all_button_url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "New Product",
      "category": "Collection"
    }
  ]
}
{% endschema %}
<style>
  .new-category{
    position: relative;
    overflow-x: hidden;
  }
  .collection-category-{{ section.id }}{
    padding-top: {{ section.settings.category_new_padding_top }}px;
    padding-bottom: {{ section.settings.category_new_padding_bottom }}px;
    background-color: {{ section.settings.section_bgcolor }};
  }
  @media (max-width: 1199px) {
    .collection-category-{{ section.id }}{
      padding-top: {{ section.settings.category_new_padding_top_ip }}px;
      padding-bottom: {{ section.settings.category_new_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .collection-category-{{ section.id }}{
      padding-top: {{ section.settings.category_new_padding_top_xs }}px;
      padding-bottom: {{ section.settings.category_new_padding_bottom_xs }}px;
    }
  }
  .new-category .outside-box {
    margin-left: -320px;
    margin-right: -320px;
  }
  @media (max-width: 1599px){
    .new-category .outside-box {
      margin-left: -100px;
      margin-right: -100px;
    }
  }
  @media (max-width: 1199px){
    .new-category .outside-box {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .new-category .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media(max-width: 767px){
    .new-category .section-title{
      flex-direction: column;
    }
    .new-category .section-title .view-all-collection{
      margin-top: 15px;
    }
  }

/*slider arrow*/
.new-category .swiper-arrow {
  display: flex;
  align-items: center;
  {% if settings.enable_rtl %}
  flex-direction: row-reverse;
  {% endif %}
}
.new-category .swiper-arrow .swiper-button {
  color: var(--color-secondary);
  position: unset;
  z-index: 0;
  font-size: 18px;
  background-image: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  opacity: 1;
  margin: 0;
  border: none;
  background-color: #fff;
}
.new-category .swiper-arrow .swiper-button:hover {
  color: #fff;
  background-color: var(--font-color-primary);
}
.new-category .swiper-arrow .swiper-button:not(:last-child){
  {%- if settings.enable_rtl -%}
  margin-left: 15px;
  {%- else -%}
  margin-right: 15px;
  {%- endif -%}
}
@media(max-width: 1199px){
  .new-category .swiper-arrow .swiper-button{
    font-size: 16px;
    height: 35px;
    width: 35px;
  }
}
@media(max-width: 767px){
  .new-category .swiper-arrow{
    margin-top: 15px;
  }
}
</style>
