<section class="news-letter">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="newsletter" {% if section.settings.news_bgimg_check %}style="background-image: url('{% if section.settings.news_bgimg %}{{ section.settings.news_bgimg | image_url }}{% else %}https://dummyimage.com/1500x500{% endif %}');"{% endif %}>
          <div class="news-con">
            <div class="section-title">
                <h2>
                  {{ section.settings.newsletter_title }}
                </h2>
                <p>{{ section.settings.sub_title }}</p>
            </div>
          </div>
          <div class="subscribe-content">
            <div class="news-content">
              {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
              <p class="text-success">
                <span class="subscribe-text">{{ settings.newsletter_success_text }} <span class="subscribe-code bg-success">{{ settings.newsletter_coupan_code }}</span></span>
              </p>
              {% endif %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="subscribe-block">
                <input type="email" name="contact[email]" class="email mail" id="E-mail" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ settings.email_placeholder }}" autocapitalize="off" required>
                <div class="email-submit">
                  <button type="submit" name="commit" id="Subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
                  <button type="submit" class="news-sub" name="commit" id="Subscribe"><i class="ri-cursor-line"></i></button>
                </div>
              </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "news_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "news_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "news_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "news_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "news_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "news_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Background Imag"
    },
    {
      "type": "image_picker",
      "id": "news_bgimg",
      "label": "Background Image",
      "info": "Recommended Size: 1920 x 450px"
    },
    {
      "type": "checkbox",
      "id": "news_bgimg_check",
      "label": "Show Background Image",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "news_bgcolor",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Section Property"
    },
    {
      "type": "textarea",
      "id": "newsletter_title",
      "label": "Title",
      "default": "Subscribe newsletter"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "Description",
      "default": "Sign up here to get 20% off on your next purchase, special offers and other discount information"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Newsletter"
    }
  ]
}
{% endschema %}
<style>
  .news-letter .newsletter{
    padding-top: {{ section.settings.news_padding_top }}px;
    padding-bottom: {{ section.settings.news_padding_bottom }}px;

    background-color: {{ section.settings.news_bgcolor }};

    {% if section.settings.news_bgimg_check %}
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    {% endif %}
    position: relative;
    z-index: 0;
  }
  @media (max-width: 1199px) {
    .news-letter .newsletter{
      padding-top: {{ section.settings.news_padding_top_ip }}px;
      padding-bottom: {{ section.settings.news_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .news-letter .newsletter{
      padding-top: {{ section.settings.news_padding_top_xs }}px;
      padding-bottom: {{ section.settings.news_padding_bottom_xs }}px;
    }
  }

  /* newsletter content css */
  .newsletter .news-con{
    max-width: 35%;
    margin: 0 auto;
    text-align: center;
  }
  @media (max-width: 1199px) {
    .newsletter .news-con{
      max-width: 50%;
    }
  }
  @media (max-width: 991px) {
    .newsletter .news-con{
      max-width: 65%;
    }
  }
  @media (max-width: 767px) {
    .newsletter .news-con{
      max-width: 80%;
    }
  }
  @media (max-width: 479px) {
    .newsletter .news-con{
      max-width: 100%;
    }
  }

  /* subscribe main css */
  .newsletter .news-con .section-title h2 span{
    color: var(--font-color-primary);
  }
  .newsletter .news-con .section-title p{
    max-width: 100%;
  }

  /* subscribe content css */
  .newsletter .subscribe-content{
    max-width: 50%;
    margin: 22px auto 0px;
  }
  .newsletter .subscribe-content .news-content p.text-success{
    margin: -7px 0 18px;
  }
  .newsletter .subscribe-content .news-content .subscribe-block{
    position: relative;
    overflow: hidden;
  }
  .newsletter .subscribe-content .news-content .subscribe-block input{
    width: 100%;
    height: 50px;
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 50px;
  }
  .newsletter .subscribe-content .news-content .subscribe-block .email-submit{
    position: absolute;
    top: 0;
    {% if settings.enable_rtl %}
    left: 25px;
    {% else %}
    right: 25px;
    {% endif %}
    height: 100%;
  }
  .newsletter .subscribe-content .news-content .subscribe-block .email-submit button{
    color: var(--font-color-primary);
    height: 100%;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
  }
  .newsletter .subscribe-content .news-content .subscribe-block .email-submit button:hover{
    color: var(--font-color-secondary);
  }
  .newsletter .subscribe-content .news-content .subscribe-block .email-submit button.news-sub{
    display: none;
  }
  @media (max-width: 1199px) {
    .newsletter .subscribe-content{
      max-width: 60%;
    }
  }
  @media (max-width: 991px) {
    .newsletter .subscribe-content{
      max-width: 85%;
    }
  }
  @media (max-width: 767px) {
    .newsletter .subscribe-content{
      max-width: 100%;
    }
  }
</style>
