<section class="product-quality">
    <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-block">
            {% if section.settings.best_quality_brand_enable %}
            <a href="{{ section.settings.banner_url }}" class="anim-brand">
                <img width="{{ section.settings.best_quality_brand.width }}" height="{{ section.settings.best_quality_brand.height }}" class="anim-wrap" src="{% if section.settings.best_quality_brand %}{{ section.settings.best_quality_brand | image_url }}{% else %}https://dummyimage.com/135x135/f7f7f7/999999{% endif %}" alt="">
                <span class="brand-wrap">
                    <img width="{{ section.settings.best_brand_wrap.width }}" height="{{ section.settings.best_brand_wrap.height }}" src="{% if section.settings.best_brand_wrap %}{{ section.settings.best_brand_wrap | image_url }}{% else %}https://dummyimage.com/100x100/f7f7f7/999999{% endif %}" alt="">
                </span>
            </a>
            {% endif %}
            {% if section.settings.section_title != '' %}
            <h2>{{ section.settings.section_title }}</h2>
            {% endif %}
            {% if section.settings.section_description != '' %}
            <p>{{ section.settings.section_description }}</p>
            {% endif %}
            {% if section.settings.offer_button != '' %}
            <a href="{{ section.settings.banner_url }}" class="btn btn-style2">
                {{ section.settings.button_title }}
            </a>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
</section>
{% schema %}
{
  "name": "Product Quality",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ipad",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ipad",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
    },
    {
      "type": "header",
      "content": "Background image"
    },
    {
      "type": "checkbox",
      "id": "banner_bg_img_enable",
      "label": "Section background image enable",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "banner_bg_img",
      "label": "Section background image",
      "info": "Recommended Size: 1920px x 715px"
    },
    {
      "type": "header",
      "content": "Section title"
    },
    {
      "type": "checkbox",
      "id": "best_quality_brand_enable",
      "label": "Brand circle image enable",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "best_quality_brand",
      "label": "Brand circle image",
      "info": "Recommended Size: 135x135px"
    },
    {
      "type": "image_picker",
      "id": "best_brand_wrap",
      "label": "Brand circle inner image",
      "info": "Recommended Size: 100x100px"
    },
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Section title",
      "default": "- Free shipping on all orders over $250 -"
    },
    {
      "type": "textarea",
      "id": "section_description",
      "label": "Section description",
      "default": "- Free shipping on all orders over $250 -"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button title",
      "default": "Read story"
    },
    {
      "type": "url",
      "id": "banner_url",
      "label": "Banner url"
    }
  ],
  "presets": [
    {
      "name": "Product Quality"
    }
  ]
}
{% endschema %}
<style>
    .product-quality {
        padding-top: {{ section.settings.section_padding_top }}px;
        padding-bottom: {{ section.settings.section_padding_bottom }}px;
        {% if section.settings.banner_bg_img_enable %}
        background-image: url({% if section.settings.banner_bg_img %}{{ section.settings.banner_bg_img | image_url }}{% else %}https://dummyimage.com/1920x715/f7f7f7/999999{% endif %});
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        {% endif %}
    }
    @media (max-width: 1199px) {
        .product-quality {
            padding-top: {{ section.settings.section_padding_top_ipad }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_ipad }}px;
        }
    }
    @media (max-width: 767px) {
        .product-quality {
            padding-top: {{ section.settings.section_padding_top_xs }}px;
            padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
        }
    }
    .product-quality .text-block {
        text-align: center;
    }
    .product-quality .text-block .anim-brand {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
    }
    .product-quality .text-block .anim-brand .anim-wrap{
        display: inline-block;
        -webkit-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
    }
    .product-quality .text-block .anim-brand .brand-wrap{
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }
    .product-quality .text-block h2{
        font-size: 38px;
        font-weight: 400;
        padding-bottom: 30px;
    }
    .product-quality .text-block p{
        color: var(--font-color-header);
        line-height: 45px;
        font-size: 25px;
        font-weight: 400;
        max-width: 50%;
        margin: 0 auto;
    }
    .product-quality .text-block a.btn{
        margin-top: 50px;
    }
    @media(max-width: 1199px){
        .product-quality .text-block .anim-brand{
            padding-bottom: 30px;
        }
        .product-quality .text-block h2{
            font-size: 28px;
        }
        .product-quality .text-block p{
            font-size: 16px;
            line-height: 35px;
        }
        .product-quality .text-block a.btn{
            margin-top: 30px;
        }
    }
    @media(max-width: 991px){
        .product-quality .text-block p{
            max-width: 100%;
        }
    }
    @media(max-width: 767px){
        .product-quality .text-block .anim-brand{
            padding-bottom: 20px;
        }
        .product-quality .text-block p{
            font-size: 14px;
            line-height: 30px;
        }
        .product-quality .text-block h2{
            font-size: 20px;
            padding-top: 15px;
        }
        .product-quality .text-block a.btn{
            margin-top: 15px;
        }
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>