{%- assign item = section.settings -%}
{%- if item.static_advertising_enable and section.blocks.size > 0 -%}
<div class="st-promo-fixed{% unless item.static_advertising_on_mobile_enable %} st-mobile-hidden{%- endunless -%}"
  data-start="{{ item.val_data_first | times: 1000 | round }}"
  data-min="{{ item.val_data_min | times: 1000 | round }}"
  data-max="{{ item.val_data_max | times: 1000 | round }}">
  <div class="st-promo">
    <button class="st-btn-close" data-c="{{ item.static_advertising_close_button_color }}" data-hovercolors><i class="ri-close-line"></i></button>
    <div class="st-img promofixeddata">
      <a href="javascript:void(0)"><img width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}" class="img-fluid" src="{{ product.featured_image.src | img_url : '90X100', crop: 'center' }}" alt=""></a>
    </div>
    <div class="st-description">
      <div class="st-box-top">
        <p class="st-some-one">{{ item.main_text }}</p>
        <a href="javascript:void(0)" class="pr_name" data-c="{{ item.static_advertising_pro_name_color }}" data-hovercolors></a>
        <p class="st-text">
          <span class="st-info">
            <span class="st-info-value"></span>
            <span class="st-min-ago">{{ item.minutes_ago }}</span>          
          </span>
          <span class="st-info">
            <span class="st-info-text"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
{%- if section.blocks.size > 0 -%}
<div class="hide promofixeddata">
  {%- for block in section.blocks -%}
  {%- assign block_item = block.settings -%}
  {%- assign pro = block_item.pro_item -%}
  {%- unless pro == blank -%}
  {%- assign pro = all_products[pro] -%}
  <div data-url="{{ pro.url }}"
    data-image="{{ pro.featured_image.src | product_img_url: '90X100', crop: 'center' }}"
    data-alt="{{ pro.featured_image.alt }}"
    data-name="{{ pro.title }}"
    data-text="{{ block_item.advertising_text1 }}{% unless block_item.advertising_text2 == '' %}||{{ block_item.advertising_text2 }}{% endunless %}{% unless block_item.advertising_text3 == '' %}||{{ block_item.advertising_text3 }}{% endunless %}{% unless block_item.advertising_text4 == '' %}||{{ block_item.advertising_text4 }}{% endunless %}{% unless block_item.advertising_text5 == '' %}||{{ block_item.advertising_text5 }}{% endunless %}"
    data-min="{{ block_item.val_data_min }}"
    data-max="{{ block_item.val_data_max }}"
    ></div>
  {%- endunless -%}
  {%- endfor -%}
</div>
{%- endif -%}
{%- endif -%}
{% schema %}
{
  "name": "Static Advertising",
  "settings": [
    {
      "type": "checkbox",
      "id": "static_advertising_enable",
      "label": "Show Static Advertising",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "static_advertising_on_mobile_enable",
      "label": "Show Static Advertising On Mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Content Position"
    },
    {
      "type": "radio",
      "id": "static_advertising_content_position",
      "label": "Content Position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Static Advertising Modal Delay Settings"
    },
    {
      "type": "text",
      "id": "main_text",
      "label": "Main text",
      "default": "Someone purchsed"
    },
    {
      "type": "text",
      "id": "val_data_first",
      "label": "Delay before first message after page load",
      "default": "0",
      "info": "Integer. Value in seconds"
    },
    {
      "type": "text",
      "id": "val_data_min",
      "label": "Random range in seconds with next product. Minimum",
      "default": "10",
      "info": "Integer. Value in seconds. Range with new message"
    },
    {
      "type": "text",
      "id": "val_data_max",
      "label": "Random range in seconds with next product. Maximum",
      "default": "40",
      "info": "Integer. Value in seconds. Range with new message"
    },
    {
      "type": "header",
      "content": "Minutes Text"
    },
    {
      "type": "text",
      "id": "minutes_ago",
      "label": "Minutes Title",
      "default": "minutes ago"
    },
    {
      "type": "header",
      "content": "Color Property"
    },
    {
      "type": "color",
      "id": "static_advertising_bg_color",
      "label": "Static Advertising Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "static_advertising_pro_name_color",
      "label": "Product Name Color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "static_advertising_close_button_color",
      "label": "Button Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "static_advertising_close_button_hvr_color",
      "label": "Button Hover Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "static_advertising_close_button_bgcolor",
      "label": "Button Background Color",
      "default": "#91C4B1"
    },
    {
      "type": "color",
      "id": "static_advertising_close_button_hvr_bgcolor",
      "label": "Button Hover Background Color",
      "default": "#333333"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Product Item",
      "settings": [
        {
          "type": "product",
          "id": "pro_item",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "val_data_min",
          "label": "Random range with minutes. Min",
          "default": "1",
          "info": "Integer. Time of purchase. This is only text information"
        },
        {
          "type": "text",
          "id": "val_data_max",
          "label": "Random range with minutes. Max",
          "default": "16",
          "info": "Integer. Time of purchase. This is only text information"
        },
        {
          "type": "text",
          "id": "advertising_text1",
          "label": "Random advertising text 1",
          "default": "from New York, USA"
        },
        {
          "type": "text",
          "id": "advertising_text2",
          "label": "Random advertising text 2",
          "default": "from Berlin, Germany"
        },
        {
          "type": "text",
          "id": "advertising_text3",
          "label": "Random advertising text 3",
          "default": "from Tokyo, Japan"
        },
        {
          "type": "text",
          "id": "advertising_text4",
          "label": "Random advertising text 4",
          "default": "from Moscow, Russia"
        },
        {
          "type": "text",
          "id": "advertising_text5",
          "label": "Random advertising text 5",
          "default": "from London, England"
        }
      ]
    }
  ]
}
{% endschema %}
<script>
  function initPromoFixed() {
    var $ttpromofixed = $(".st-promo-fixed"),
    $promofixeddata = $(".promofixeddata"),
    $promofixedclose = $ttpromofixed.find(".st-btn-close");

    if($('html').hasClass('touch-device') && $ttpromofixed.hasClass('hidden-mobile')) return false;
    if($ttpromofixed.hasClass('hidden-mobile') && $(window).width < 1025) return false;
    if($promofixeddata.length == 0) return false;

    setPromoFixedItem($ttpromofixed, $promofixeddata);
    showPromoFixed($ttpromofixed, $ttpromofixed.data('start'));

    showPromoFixedNextMessage($ttpromofixed, $promofixeddata, $promofixedclose)
    $promofixedclose.click(function() {
      $ttpromofixed.addClass('nonevent').fadeTo(100, 0);
    });
  }
  function showPromoFixedNextMessage($modal, $data, $close) {
    var nextmin = $modal.data('min'),
    nextmax = $modal.data('max');
    var i = getRndInteger(nextmin, nextmax);
    setTimeout(function() {
      $close.trigger('click');
      setTimeout(function() {
        setPromoFixedItem($modal, $data);
        showPromoFixed($modal, 0);
        showPromoFixedNextMessage($modal, $data, $close);
      }, 100);
    }, i);
  }
  function getPromoFixedCustomProductIndex($promofixeddata) {
    var min = 0,
    max = $promofixeddata.children().length;
    return getRndInteger(min, max);
  }
  function setPromoFixedItem($modal, $data) {
    var i = getPromoFixedCustomProductIndex($data)
    var data = $data.children().eq(i);
    $modal.find('.st-img').find('a').attr('href', data.data('url')).find('img').attr('src', data.data('image')).attr('alt', data.data('alt'));
    $modal.find('.pr_name').attr('href', data.data('url')).text(data.data('name'));

    var nummin = parseInt(data.data('min')),
    nummax = parseInt(data.data('max')),
    num = getRndInteger(nummin, nummax);
    $modal.find('.st-info-value').text(num);
    if (typeof data.data('text') === typeof undefined) return false;
    var str = data.data('text').split('||'),
    i = getRndInteger(0, str.length-1);
    $modal.find('.st-info-text').text(str[i]);
  }
  function showPromoFixed($parent, delay) {
    setTimeout(function() {
      $parent.removeClass('nonevent').fadeTo(300, 1);
    }, delay);
  }
  function getRndInteger(min, max) {
    return Math.floor(Math.random() * (max - min) ) + min;
  }
  setTimeout(initPromoFixed, 300);
</script>
<style>
  .st-promo-fixed {
    width: 300px;
    position: fixed;
    bottom: 15px;
    {% if section.settings.static_advertising_content_position == 'left' %}

    {% if settings.enable_rtl %}
    right: 15px;
    {% else %}
    left: 15px;
    {% endif %}

    {% else %}

    {% if settings.enable_rtl %}
    left: 15px;
    {% else %}
    right: 15px;
    {% endif %}

    {% endif %}
    z-index: 5;
  }
  .st-promo-fixed .st-promo {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
    background-color: {{ item.static_advertising_bg_color }};
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .st-promo-fixed .st-promo button.st-btn-close {
    color: {{ item.static_advertising_close_button_color }};
    font-size: 16px;
    position: absolute;
    top: -10px;
    {% if settings.enable_rtl %}
    left: -10px;
    {% else %}
    right: -10px;
    {% endif %}
    height: 20px;
    width: 20px;
    background-color: {{ item.static_advertising_close_button_bgcolor }};
    border-radius: 100%;
    line-height: 0;
  }
  .st-promo-fixed .st-promo button.st-btn-close:hover {
    color: {{ item.static_advertising_close_button_hvr_color }};
    background-color: {{ item.static_advertising_close_button_hvr_bgcolor }};
  }
  .st-promo-fixed .st-promo button.st-btn-close i {
    display: block;
    line-height: 0;
  }
  .st-promo-fixed .st-promo .st-img {
    width: 90px;
  }
  .st-promo-fixed .st-promo .st-description {
    width: calc(100% - 90px);
    {% if settings.enable_rtl %}
    padding-right: 15px;
    {% else %}
    padding-left: 15px;
    {% endif %}
  }
  .st-promo-fixed .st-promo .st-description .st-box-top p.st-some-one {
    margin-bottom: 2px;
  }
  .st-promo-fixed .st-promo .st-description .st-box-top a.pr_name {
    display: block;
    color: {{ item.static_advertising_pro_name_color }};
    width: 100%;
    font-weight: 500;

  }
  .st-promo-fixed .st-promo .st-description .st-box-top p.st-text {
    margin-top: 2px;
  }
  .st-promo-fixed .st-promo .st-description .st-box-top p.st-text span.st-info {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .st-promo-fixed .st-promo .st-description .st-box-top p.st-text span.st-info:first-child {
    margin-top: 0;
  }
  .st-promo-fixed .st-promo .st-description .st-box-top p.st-text span.st-info span.st-info-value {
    color: var(--font-color-primary);
  }
  .st-promo-fixed .st-promo .st-description .st-box-top p.st-text span.st-info span.st-min-ago {
    color: var(--font-color-primary);
    {% if settings.enable_rtl %}
    margin-right: 5px;
    {% else %}
    margin-left: 5px;
    {% endif %}
  }
  .st-promo-fixed .st-promo .st-description .st-box-top p.st-text span.st-info span.st-info-text {
    text-transform: capitalize;
  }
  @media (max-width: 479px) {
    .st-promo-fixed.st-mobile-hidden {
      display: none!important;
    }
    .st-promo-fixed {
      width: calc(100% - 30px);
    }
  }
</style>