{% if section.settings.section_enable %}
<!-- Browuse categoryies -->
<section class="slider-category" {% if section.settings.slider_cat_bg_img_enable %}style="background-image: url('{% if section.settings.slider_cat_bg_img %}{{ section.settings.slider_cat_bg_img | image_url }}{% else %}https://dummyimage.com/1920x532{% endif %}');"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cat-slider owl-carousel owl-theme" id="category-slider-{{ section.id }}">
          {% for block in section.blocks %}
          {% assign category_product = collections[block.settings.slider_category_handle] %}
          <div class="item">
            <div class="category-wrap">
              <a href="{{ category_product.url }}">
                <span class="cat-svg-icon">
                  {% if block.settings.cat_img %}
                  <img width="{{ block.settings.cat_img.width }}" height="{{ block.settings.cat_img.height }}" src="{% if block.settings.cat_img %}{{ block.settings.cat_img | image_url: width: 40, height: 40, crop: 'center' }}{% else %}https://dummyimage.com/50x50{% endif %}" class="img-fluid" alt="">
                  {% else %}
                  {{ block.settings.cat_icon }}
                  {% endif %}
                </span>
                <span class="cat-title">{{ category_product.title }}</span>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<script type="text/javascript">
  addEventListener('DOMContentLoaded', (event) => {
    $('#category-slider-{{ section.id }}').owlCarousel({
      {%- if settings.enable_rtl -%}
      rtl: true,
      {%- endif -%}
      loop: false,
      rewind: false,
      margin: 15,
      nav: false,
      navText: ['<i class="ri-arrow-left-line"></i>','<i class="ri-arrow-right-line"></i>'],
      dots: false,
      responsive: {
        0: {
          items: 2
        },
        479: {
          items: 2
        },
        540: {
          items: 3
        },
        768: {
          items: 4
        },
        979: {
          items: 5
        },
        1199: {
          items: 6
        },
        1599: {
          items: 7
        }
      }
    });
  });
</script>
{% schema %}
{
  "name": "Category",
  "settings": [
    {
      "type": "header",
      "content": "Section enable"
    },
    {
      "type": "checkbox",
      "id": "section_enable",
      "label": "Section enable",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "cat_bg_color",
      "label": "Background Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "name": "slider-category",
      "type": "product_tab",
      "settings": [
        {
          "type": "image_picker",
          "id": "cat_img",
          "label": "Category icon image",
          "info": "Recommended Size: 150px x 150px"
        },
        {
          "type": "textarea",
          "id": "cat_icon",
          "label": "Category icon",
          "info": "[See Icon Name](https://remixicon.com)"
        },
        {
          "type": "collection",
          "id": "slider_category_handle",
          "label": "Select Your Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category",
      "category": "Shop By Category"
    }
  ]
}
{% endschema %}
<style>
  .slider-category{
    border-top: 1px solid rgba(0,0,0,7%);
    padding: 15px 0;
  }

  .slider-category .cat-slider.owl-carousel .owl-item.active{
    position: relative;
  }

  /* slider category title css */
  .slider-category .category-wrap a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    border-radius: 3px;
    overflow: hidden;
    background: {{ section.settings.cat_bg_color }};
  }
  .slider-category .category-wrap:hover a {
    background-color: var(--font-color-primary);
  }
  .slider-category .category-wrap a span.cat-svg-icon{
    font-size: 30px;
    line-height: 0;
  }
  .slider-category .category-wrap a span.cat-svg-icon i{
    line-height: 1;
  }
  .slider-category .category-wrap:hover a span.cat-svg-icon{
    color: #fff;
  }
  .slider-category .category-wrap a span.cat-title{
    display: block;
    color: var(--font-color-body);
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
  .slider-category .category-wrap:hover a span.cat-title{
    color: #Fff;
  }

</style>