<section class="terms-conditions-info">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="conditions-info">
					<ul class="conditions-info-ul">
						{% for block in section.blocks %}
						{% case block.type %}
	        	{% when 'terms_info_1' %}
						<li class="conditions-info-li">
							{% if block.settings.terms_title_1 != '' %}
							<h4>{{ block.settings.terms_title_1 }}</h4>
							{% endif %}
							{% if block.settings.terms_desc_1 != '' %}
							<div class="desc-area">
								<p>{{ block.settings.terms_desc_1 }}</p>
							</div>
							{% endif %}
						</li>
			     {% endcase %}
			     {% endfor %}
					</ul>
					<ul class="conditions-info-ul">
						{% for block in section.blocks %}
						{% case block.type %}
	         {% when 'terms_info_2' %}
						<li class="conditions-info-li">
							{% if block.settings.terms_title_2 != '' %}
							<h4>{{ block.settings.terms_title_2 }}</h4>
							{% endif %}
							{% if block.settings.terms_desc_2 != '' %}
							<div class="desc-area">
								<p>{{ block.settings.terms_desc_2 }}</p>
							</div>
							{% endif %}
						</li>
            {% endcase %}
            {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "Terms Info",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "about_product_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "about_product_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "about_product_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "about_product_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "checkbox",
      "id": "about_product_bgcolor_enable",
      "label": "Show Background Color",
      "default": false
    },
    {
      "type": "color",
      "id": "about_product_bgcolor",
      "label": "Background Color",
      "default": "#FFFFFF"
    }
  ],
  "blocks": [
    {
      "type": "terms_info_1",
      "name": "Terms Info 1",
      "settings": [
        {
          "type": "text",
          "id": "terms_title_1",
          "label": "Title",
          "default": "What shipping methods are available?"
        },
        {
          "type": "textarea",
          "id": "terms_desc_1",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet consectetur adipiscing sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip"
        }
      ]
    },
    {
      "type": "terms_info_2",
      "name": "Terms Info 2",
      "settings": [
        {
          "type": "text",
          "id": "terms_title_2",
          "label": "Title",
          "default": "Will I receive the same product that see the picture"
        },
        {
          "type": "textarea",
          "id": "terms_desc_2",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet consectetur adipiscing sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Terms Info",
      "category": "Terms Info"
    }
  ]
}
{% endschema %}

<style>
.terms-conditions-info {
    position: relative;
    padding-top: {{ section.settings.about_product_padding_top }}px;
    padding-bottom: {{ section.settings.about_product_padding_bottom }}px;
    {% if section.settings.about_product_bgcolor_enable %}
    background-color: {{ section.settings.about_product_bgcolor }};
    {% endif %}
}
@media (max-width: 1199px) {
    .terms-conditions-info {
        padding-top: {{ section.settings.about_product_padding_top_ip }}px;
        padding-bottom: {{ section.settings.about_product_padding_bottom_ip }}px;
    }
}
@media (max-width: 767px) {
    .terms-conditions-info {
        padding-top: {{ section.settings.about_product_padding_top_xs }}px;
        padding-bottom: {{ section.settings.about_product_padding_bottom_xs }}px;
    }
}

.terms-conditions-info .conditions-info {
	display: flex;
	flex-wrap: wrap;
	{% if settings.enable_rtl %}
	margin-right: -30px;
	{% else %}
	margin-left: -30px;
	{% endif %}
}
.terms-conditions-info .conditions-info ul.conditions-info-ul {
	width: calc(50% - 30px);
	{% if settings.enable_rtl %}
	margin-right: 30px;
	{% else %}
	margin-left: 30px;
	{% endif %}
}
.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li {
	margin-bottom: 31px;
	padding-bottom: 31px;
	border-bottom: 1px solid #e2e2e2;
}
.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li h4 {
	font-size: 20px;
	font-weight: 500;
}
.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li .desc-area {
	margin-top: 17px;
}
.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li .desc-area p {
	font-size: 18px;
	line-height: 30px;
	width: 90%;
}
@media (max-width: 1280px) {
	.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li .desc-area p {
		width: 100%;
	}
}
@media (max-width: 991px) {
	.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li {
		margin-bottom: 21px;
		padding-bottom: 21px;
	}
	.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li h4 {
		font-size: 18px;
	}
	.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li .desc-area {
		margin-top: 15px;
	}
	.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li .desc-area p {
		font-size: 16px;
	}
}
@media (max-width: 600px) {
	.terms-conditions-info .conditions-info {
		{% if settings.enable_rtl %}
		margin-right: 0px;
		{% else %}
		margin-left: 0px;;
		{% endif %}
	}
	.terms-conditions-info .conditions-info ul.conditions-info-ul {
		width: calc(100% - 0px);
		{% if settings.enable_rtl %}
		margin-right: 0px;
		{% else %}
		margin-left: 0px;;
		{% endif %}
	}
	.terms-conditions-info .conditions-info ul.conditions-info-ul {
		margin-top: 21px;
		padding-top: 21px;
		border-top: 1px solid #e2e2e2;
	}
	.terms-conditions-info .conditions-info ul.conditions-info-ul li.conditions-info-li .desc-area {
		margin-top: 5px;
	}
}
</style>