{{ 'section-trusted-by.css' | asset_url | stylesheet_tag }}

<section class="our-brand-logo">
  <div class="container">
    <div class="section-capture">
      <div class="section-title">
        {% if section.settings.section_subtitle != '' %}
          <span class="sub-title">{{ section.settings.section_subtitle }}</span>
        {% endif %}
        {% if section.settings.section_title != '' %}
          <h2>{{ section.settings.section_title }}</h2>
        {% endif %}
        {% if section.settings.section_desc != '' %}
          <p>{{ section.settings.section_desc }}</p>
        {% endif %}
      </div>
    </div>
    <div class="brand-logo">
      <ul>
        {% for block in section.blocks %}
          {%- if block.settings.logo_image -%}
            <li>
              <a href="{{ block.settings.logo_url }}" class="brand-img">
                {{
                  block.settings.logo_image
                  | image_url: width: 200
                  | image_tag:
                      width: block.settings.logo_image.width,
                      height: block.settings.logo_image.height,
                      class: 'img-fluid',
                      widths: '100, 200',
                      fetchpriority: 'low'
                }}
              </a>
            </li>
          {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Brand Logo",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 70
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ip",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 70
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "section_bgcolor",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "section_bgcolor_check",
      "label": "Show Background Color",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": "Subtitle",
      "default": "Clients"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Trusted By"
    },
    {
      "type": "textarea",
      "id": "section_desc",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "single_brand",
      "name": "Single Brand Logo",
      "settings": [
        {
          "type": "url",
          "id": "logo_url",
          "label": "Brand url"
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Brand Image",
          "info": "Recommended Size: 200px x 100px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Logo",
      "category": "Brand Logo"
    }
  ]
}
{% endschema %}

{% style %}
  .our-brand-logo {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    {% if section.settings.section_bgcolor_check %}
    background-color: {{ section.settings.section_bgcolor }};
    {% endif %}
  }
  @media (max-width: 1199px) {
    .our-brand-logo {
      padding-top: {{ section.settings.section_padding_top_ip }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .our-brand-logo {
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
  }
{% endstyle %}
