<section class="our-brand-logo">
  <div class="container">
    <div class="row">
      <div class="col">
        {% if section.settings.section_title != '' %}
        <div class="section-capture">
          <div class="section-title">
            <div class="section-cont-title">
              {% if section.settings.section_title != '' %}
              <h2>
                <span>{{ section.settings.section_title }}</span>
              </h2>
              {% endif %}
            </div>
            {% if section.settings.section_desc != '' %}
            <p>{{ section.settings.section_desc }}</p>
            {% endif %}
          </div>
        </div>
        {% endif %}
        <div class="brand-logo">
          <ul>
            {% for block in section.blocks %}
            <li>
              <a href="{{ block.settings.logo_url }}" class="brand-img">
                <img width="{{ block.settings.logo_image.width }}" height="{{ block.settings.logo_image.height }}" class="img-fluid" src="{% if block.settings.logo_image %}{{ block.settings.logo_image | image_url }} {% else %}https://dummyimage.com/200x100 {% endif %}" alt="">
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Brand Logo",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "section_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 70
    },
    {
      "type": "range",
      "id": "section_padding_bottom_ip",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 70
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "section_padding_bottom_xs",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "section_bgcolor",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "section_bgcolor_check",
      "label": "Show Background Color",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Shop by brands"
    },
    {
      "type": "textarea",
      "id": "section_desc",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "single_brand",
      "name": "Single Brand Logo",
      "settings": [
        {
          "type": "url",
          "id": "logo_url",
          "label": "Brand url"
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Brand Image",
          "info": "Recommended Size: 200px x 100px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Logo",
      "category": "Brand Logo"
    }
  ]
}
{% endschema %}

<style>
  .our-brand-logo {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    {% if section.settings.section_bgcolor_check %}
    background-color: {{ section.settings.section_bgcolor }};
    {% endif %}
  }
  @media (max-width: 1199px) {
    .our-brand-logo {
      padding-top: {{ section.settings.section_padding_top_ip }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .our-brand-logo {
      padding-top: {{ section.settings.section_padding_top_xs }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_xs }}px;
    }
  }

  /* brand logo css */
  .our-brand-logo .brand-logo ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -30px;
    {%- if settings.enable_rtl -%}
    margin-right: -20px;
    {%- else -%}
    margin-left: -20px;
    {%- endif -%}
  }
  .our-brand-logo .brand-logo ul li{
    width: calc(16.66% - 20px);
    margin-top: 30px;
    {%- if settings.enable_rtl -%}
    margin-right: 20px;
    {%- else -%}
    margin-left: 20px;
    {%- endif -%}
    text-align: center;
  }
  .our-brand-logo .brand-logo ul li a:hover img {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0);
  }
  .our-brand-logo .brand-logo ul li a img,
  .our-brand-logo .brand-logo ul li a:hover img {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  @media (max-width: 1199px) {
    .our-brand-logo .brand-logo ul li{
      width: calc(25% - 20px);
    }
  }
  @media (max-width: 767px) {
    .our-brand-logo .brand-logo ul li{
      width: calc(50% - 20px);
    }
  }
</style>
