
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}
{% paginate search.results by 12 %}
<section class="section-ptb search-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-capture">
          <div class="section-title">
            {% if search.performed %}
            {% if search.results_count == 0 %}
            <h2>{{ 'general.search.no_results_html' | t: terms: search.terms }}</h2>
            {% else %}
            <h2>{{ 'general.search.results_for_html' | t: terms: search.terms }}</h2>
            {% endif %}

            {% else %}

            <h2>{{ 'general.search.title' | t }}</h2>
            {% endif %}
          </div>
        </div>

        <div class="page-search-bar">
          <form action="/search" method="get" class="page-search-form" role="search">
            <input type="hidden" name="type" value="product">
            <input type="hidden" name="options[unavailable_products]" value="show">
            <input type="hidden" name="options[prefix]" value="last">
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" required>
            <button type="submit" class="page-search-button">
              <i class="ri-search-line"></i>
            </button>
          </form>
        </div>

        {% if search.performed %}
        <div id="gf-products" class="search-list">
          {% for item in search.results %}
          {% render 'search-grid' %}
          {% endfor %}
        </div>
        {% endif %}

        {% if paginate.pages > 1 %}
        <div class="paginatoin-area">
          <ul class="paginate">
            <li class="page-numerous">
              {%- render 'pagination' -%}
            </li>
          </ul>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>
{% endpaginate %}
{% else %}
{% render 'respond' %}
{% layout none %}
{% endunless %}
<style>
  /*=====================================
    search page css
  ======================================*/
  .search-page{
    background-color: #F9F9F9;
  }
  .search-page .page-search-bar form.page-search-form{
    position: relative;
    display: flex;
    align-items: center;

    overflow: hidden;
  }
  .search-page .page-search-bar form input{
    width: 100%;
  }
  .search-page .page-search-bar form button.page-search-button{
    background-image: var(--gradient-color);
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    top: 0;
    {% if settings.enable_rtl %}
    left: 0;
    border-radius: 5px 0px 0px 5px;
    {% else %}
    right: 0;
    border-radius: 0px 5px 5px 0px;
    {% endif %}
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }
  .search-page .page-search-bar form button.page-search-button:hover{
    background-image: var(--hover-gradient-color);
  }
  .search-page .search-list{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    {% if settings.enable_rtl %}
    margin: 0px -30px 0 0;
    {% else %}
    margin: 0px 0 0 -30px;
    {% endif %}
  }
  @media (max-width: 767px) {
    .search-page .search-list{
      {% if settings.enable_rtl %}
      margin: 0px -15px 0 0;
      {% else %}
      margin: 0px 0 0 -15px;
      {% endif %}
    }
  }

  /* search item */
  .search-page .search-list .search-item{
    width: calc(25% - 30px);
    {% if settings.enable_rtl %}
    margin: 30px 30px 0 0;
    {% else %}
    margin: 30px 0 0 30px;
    {% endif %}
  }
  .search-page .search-list .search-item .single-product-wrap .product-content .product-info{
    opacity: 1;
    visibility: visible;
  }
  @media (max-width: 1199px) {
    .search-page .search-list .search-item{
      width: calc(33.33% - 30px);
    }
  }
  @media (max-width: 991px) {
    .search-page .search-list .search-item{
      width: calc(50% - 30px);
    }
  }
  @media (max-width: 767px) {
    .search-page .search-list .search-item{
      width: calc(50% - 15px);
      {% if settings.enable_rtl %}
      margin: 30px 15px 0 0;
      {% else %}
      margin: 30px 0 0 15px;
      {% endif %}
    }
  }
  @media (max-width: 479px) {
    .search-page .search-list .search-item{
      width: calc(100% - 15px);
    }
  }

  /* search blog */
  .search-page .search-list .search-blog-item{
    width: calc(33.33% - 30px);
    {% if settings.enable_rtl %}
    margin: 30px 30px 0 0;
    {% else %}
    margin: 30px 0 0 30px;
    {% endif %}
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
  .search-page .search-list .search-blog-item .search-blog-content{
    padding: 30px;
  }
  .search-page .search-list .search-blog-item .search-blog-content h6{
    font-size: 18px;
    text-transform: capitalize;
  }
  .search-page .search-list .search-blog-item .search-blog-content h6 a{
    display: block;
    width: 100%;

  }
  .search-page .search-list .search-blog-item .search-blog-content p{
    margin-top: 16px;
  }
  @media (max-width: 1199px) {
    .search-page .search-list .search-blog-item{
      width: calc(50% - 30px);
    }
  }
  @media (max-width: 767px) {
    .search-page .search-list .search-blog-item{
      width: calc(100% - 15px);
      {% if settings.enable_rtl %}
      margin: 30px 15px 0 0;
      {% else %}
      margin: 30px 0 0 15px;
      {% endif %}
    }
    .search-page .search-list .search-blog-item .search-blog-content{
      padding: 15px;
    }
    .search-page .search-list .search-blog-item .search-blog-content p{
      margin-top: 6px;
    }
  }
</style>
